Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

prepare v6.4.0
  CHANGELOG.md
Due: prettier --write

6.4.0
  package-lock.json
  package.json
Due: prettier --write

update mbx-assembly-docs peer dependency version
  package.json
Due: prettier --write

update mbx-assembly-docs peer dependency version (#625)
  package.json
Due: prettier --write

prepare v6.4.1
  CHANGELOG.md
Due: prettier --write

6.4.1
  package-lock.json
  package.json
Due: prettier --write

add JsxEdit for editing in codesandbox
  docs/src/categories.json
  package-lock.json
  package.json
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/code-snippet/__tests__/code-snippet-test-cases.js
  src/components/code-snippet/code-snippet.js
  src/components/edit/edit.js
  src/components/jsx-edit/__tests__/__snapshots__/jsx-edit.test.js.snap
  src/components/jsx-edit/__tests__/jsx-edit-test-cases.js
  src/components/jsx-edit/__tests__/jsx-edit.test.js
  src/components/jsx-edit/examples/basic.js
  src/components/jsx-edit/index.js
  src/components/jsx-edit/jsx-edit.js
Due: eslint, prettier --write

move button to separate file to fix docs build
  src/components/code-snippet/code-snippet.js
  src/components/edit/button.js
  src/components/edit/edit.js
  src/components/jsx-edit/__tests__/__snapshots__/jsx-edit.test.js.snap
  src/components/jsx-edit/__tests__/jsx-edit.test.js
  src/components/jsx-edit/jsx-edit.js
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

move Button proptypes
  src/components/edit/button.js
  src/components/edit/edit.js
  src/components/jsx-edit/jsx-edit.js
Due: eslint, prettier --write

test do not merge
  .circleci/config.yml
Due: prettier --write

Force update for @mapbox/remark-lint-mapbox
  package-lock.json
  package.json
  src/helpers/help-card-data.js
Due: eslint, prettier --write

updated icon
  src/helpers/help-card-data.js
Due: eslint, prettier --write

Updated icon
  src/helpers/help-card-data.js
Due: eslint, prettier --write

Adjustment to svg
  src/helpers/help-card-data.js
Due: eslint, prettier --write

lowercased the content type
  src/helpers/help-card-data.js
Due: eslint, prettier --write

update FAQ icon
  src/helpers/help-card-data.js
Due: eslint, prettier --write

updated mbx-assembly-docs and added new color to faq card
  package-lock.json
  src/helpers/help-card-data.js
Due: eslint, prettier --write

Updated order of helpcardData & update mbx-assembly-docs
  package-lock.json
  package.json
  src/helpers/help-card-data.js
Due: eslint, prettier --write

Added styles & hover state for card component
  src/components/card/card.js
Due: eslint, prettier --write

Fixed snapshots & removed remark-lint-mapbox
  package.json
  src/components/card-container/__tests__/__snapshots__/card-container.test.js.snap
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: prettier --write

Added icons dir, rightArrow icons, updated tests & imports
  src/components/card/card.js
  src/components/icons/RightArrow.js
  src/components/index-card/__tests__/index-card-test-cases.js
  src/components/overview-header/__tests__/overview-header-test-cases.js
  src/helpers/help-card-data.js
  src/helpers/icons.js
Due: eslint, prettier --write

Fixed component hover state with arrow function and eslint ignore
  docs/src/categories.json
  src/components/card/card.js
  src/components/icons/examples/basic.js
  src/components/icons/icons.js
  src/components/icons/index.js
Due: eslint, prettier --write

refactor arrow function in card component
  src/components/card/card.js
Due: eslint, prettier --write

Andrew/add faq type (#634)
  docs/src/categories.json
  package-lock.json
  package.json
  src/components/card-container/__tests__/__snapshots__/card-container.test.js.snap
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/card/card.js
  src/components/icons/examples/basic.js
  src/components/icons/icons.js
  src/components/icons/index.js
  src/components/index-card/__tests__/index-card-test-cases.js
  src/components/overview-header/__tests__/overview-header-test-cases.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/helpers/help-card-data.js
  src/helpers/icons.js
Due: eslint, prettier --write

Prepare v6.5.0
  CHANGELOG.md
Due: prettier --write

6.5.0
  package-lock.json
  package.json
Due: prettier --write

Add tag support to index card
  src/components/index-card/index-card.js
Due: eslint, prettier --write

Add changelog entry
  CHANGELOG.md
Due: prettier --write

Added new icon for dive deeper card
  src/helpers/help-card-data.js
  src/helpers/icons.js
Due: eslint, prettier --write

Fixed missing import
  src/helpers/help-card-data.js
Due: eslint, prettier --write

Added new icon for dive deeper card (#646)
  src/helpers/help-card-data.js
  src/helpers/icons.js
Due: eslint, prettier --write

Prepare v6.6.0
  CHANGELOG.md
Due: prettier --write

6.6.0
  package-lock.json
  package.json
Due: prettier --write

restore index card icons
  src/components/index-card/index-card.js
Due: eslint, prettier --write

update tests
  src/components/index-card/__tests__/__snapshots__/index-card.test.js.snap
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: ((((any of: *.js) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yml)
