Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

add conditional for passthroughProps
  src/components/download-button/download-button.js
Due: eslint, prettier --write

fix typo
  src/components/download-button/download-button.js
Due: eslint, prettier --write

remove fileType prop and instead pull it from href
  src/components/download-button/__tests__/download-button-test-cases.js
  src/components/download-button/download-button.js
Due: eslint, prettier --write

remove docs-prose CSS and add className styling
  src/components/download-button/download-button.js
  src/css/docs-prose.css
Due: eslint, prettier --write

fix basic.js example
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/download-button/examples/basic.js
Due: eslint, prettier --write

remove passthroughProps conditional
  src/components/download-button/download-button.js
Due: eslint, prettier --write

update snapshot text
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
Due: none

Update src/components/download-button/download-button.js
  src/components/download-button/download-button.js
Due: eslint, prettier --write

add prop descriptions for catalog site
  src/components/download-button/download-button.js
Due: eslint, prettier --write

update snapshot
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
Due: none

add snapshot tests
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/download-button/__tests__/download-button.test.js
Due: eslint, prettier --write

update png and zip snapshot tests
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/download-button/__tests__/download-button.test.js
Due: eslint, prettier --write

move DownloadButton to features category
  docs/src/categories.json
Due: prettier --write

update changelog
  CHANGELOG.md
Due: prettier --write

Use the state instead of prop to control the textarea
  src/components/feedback/components/forms.js
Due: eslint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Reduce changes
  src/components/feedback/components/forms.js
Due: eslint, prettier --write

Reduce changes
  package-lock.json
Due: prettier --write

Remove `next` as contentType, we override with `label`
  src/components/related-page/related-page.js
Due: eslint, prettier --write

Add grouped guides functionality (#453)
  CHANGELOG.md
  docs/src/pages/guides/grouped-guides/file-structure.md
  docs/src/pages/guides/grouped-guides/frontmatter.md
  docs/src/pages/guides/grouped-guides/index.md
  docs/src/pages/guides/grouped-guides/resulting-ui.md
  src/components/breadcrumb/__tests__/__snapshots__/breadcrumb.test.js.snap
  src/components/breadcrumb/__tests__/breadcrumb-test-cases.js
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/__tests__/navigation-accordion-test-cases.js
  src/components/navigation-accordion/examples/basic.js
  src/components/navigation-accordion/navigation-accordion.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/__tests__/page-layout-test-cases.js
  src/components/page-layout/__tests__/utils.test.js
  src/components/page-layout/components/content.js
  src/components/page-layout/components/guide-group-index.js
  src/components/page-layout/components/next-page.js
  src/components/page-layout/examples/example-page.js
  src/components/page-layout/examples/example.js
  src/components/page-layout/examples/full.js
  src/components/page-layout/examples/group-index-page.js
  src/components/page-layout/page-layout.js
  src/components/page-layout/utils.js
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/__tests__/related-page-test-cases.js
  src/components/related-page/__tests__/related-page.test.js
  src/components/related-page/related-page.js
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
  src/helpers/batfish/__tests__/navigation.test.js
  src/helpers/batfish/__tests__/sitemap.test.js
  src/helpers/batfish/navigation.js
Due: eslint, prettier --write

Fix bug in `Feedback` textarea where the cursor jumped to end of text (#477)
  CHANGELOG.md
  src/components/feedback/components/forms.js
Due: eslint, prettier --write

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Prepare 4.2.0
  CHANGELOG.md
Due: prettier --write

4.2.0
  package-lock.json
  package.json
Due: prettier --write

4.2.1
  package-lock.json
  package.json
Due: prettier --write

Updates
  assets/dr-ui-changelog-37ea5b60a57af50553fb.chunk.js
  assets/dr-ui-changelog-7ed1de40bdc2fc6225f6.chunk.js
  assets/dr-ui-changelog~dr-ui-examples~dr-ui-examples-example-1~dr-ui-examples-example-2~dr-ui-examples-exam~0337dc2a-715848f847f774c4d10b.chunk.js
  assets/dr-ui-changelog~dr-ui-examples~dr-ui-examples-example-1~dr-ui-examples-example-2~dr-ui-examples-exam~0337dc2a-ed76696319c7f87c32d1.chunk.js
  assets/dr-ui-components-17bbf0a2a20372b93118.chunk.js
  assets/dr-ui-components-e5ad628425dfe3645455.chunk.js
  assets/dr-ui-guides-batfish-helpers-56b94e0417aaeb7c8f93.chunk.js
  assets/dr-ui-guides-batfish-helpers-83ac91cd4dca88e4e4ca.chunk.js
  assets/dr-ui-guides-page-layout-15fc32757452632babba.chunk.js
  assets/dr-ui-guides-page-layout-3d93bf7cae3be2b85214.chunk.js
  assets/dr-ui-guides-split-pages-68d6272d5d396d6577d4.chunk.js
  assets/dr-ui-guides-split-pages-83334021ea94f57c3a46.chunk.js
  assets/manifest-ad5270bd5b524021fff3.js
  assets/manifest-fbc8d4fe85a02c13c7a6.js
  changelog/index.html
  components/index.html
  examples/example-1/index.html
  examples/example-2/index.html
  examples/example-3/index.html
  examples/example-4/index.html
  examples/example-5/index.html
  examples/index.html
  guides/a11y/index.html
  guides/batfish-helpers/index.html
  guides/grouped-guides/file-structure/index.html
  guides/grouped-guides/frontmatter/index.html
  guides/grouped-guides/index.html
  guides/grouped-guides/resulting-ui/index.html
  guides/index.html
  guides/multi-structured/index.html
  guides/page-layout/index.html
  guides/split-pages/index.html
  guides/split-pages/sections/how-to/index.html
  guides/split-pages/sections/intro/index.html
  guides/split-pages/sections/limitations/index.html
  guides/split-pages/sections/tag-debugger/index.html
  index.html
  sitemap.xml
Due: eslint, prettier --write

update to Node 14
  .nvmrc
Due: none

Prove the bug: adds a NavigationAccordion testcase with an undefined parent
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/__tests__/navigation-accordion-test-cases.js
  src/components/navigation-accordion/__tests__/navigation-accordion.test.js
  src/components/navigation-accordion/navigation-accordion.js
Due: eslint, prettier --write

Fix bug: check that parentPage exists
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/navigation-accordion.js
Due: eslint, prettier --write

add requirements section to readme.md
  README.md
Due: prettier --write

update assembly and mr-ui
  package-lock.json
  package.json
Due: prettier --write

remove font-size from docs-prose.css
  src/css/docs-prose.css
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: ((((any of: *.js) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yml)
