Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Mocks forwardEvent and Sentry
  src/components/feedback/__tests__/category-like.test.js
Due: eslint, prettier --write

Remove redundant `location`
  src/components/feedback/__tests__/__snapshots__/segment.test.js.snap
  src/components/feedback/__tests__/category-like.test.js
  src/components/feedback/segment.js
Due: eslint, prettier --write

Organize!
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/segment.test.js.snap
  src/components/feedback/__tests__/category-confusing.test.js
  src/components/feedback/__tests__/category-like.test.js
  src/components/feedback/__tests__/category-problem.test.js
  src/components/feedback/__tests__/contact-support.test.js
  src/components/feedback/__tests__/shared.js
  src/components/feedback/segment.js
  src/components/feedback/sentry.js
Due: eslint, prettier --write

Remove redundant segment tests
  src/components/feedback/__tests__/__snapshots__/segment.test.js.snap
  src/components/feedback/__tests__/segment.test.js
  src/components/feedback/segment.js
Due: eslint, prettier --write

Add test for logged in user
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/__tests__/logged-in.test.js
  src/components/feedback/sentry.js
  src/test-utils/jest-setup.js
Due: eslint, prettier --write

Clean up
  src/components/feedback/__tests__/category-confusing.test.js
  src/components/feedback/__tests__/category-like.test.js
  src/components/feedback/__tests__/logged-in.test.js
Due: eslint, prettier --write

Clean up
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/__tests__/category-confusing.test.js
  src/components/feedback/__tests__/category-like.test.js
  src/components/feedback/__tests__/category-problem.test.js
  src/components/feedback/__tests__/contact-support.test.js
  src/components/feedback/__tests__/logged-in.test.js
  src/components/feedback/__tests__/shared.js
  src/components/feedback/components/forms.js
Due: eslint, prettier --write

Clean up, remove `position` prop
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/feedback/__tests__/__snapshots__/confirmation.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/__tests__/close.test.js
  src/components/feedback/feedback.js
  src/components/page-layout/components/content.js
Due: eslint, prettier --write

Clean up
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/feedback/__tests__/__snapshots__/confirmation.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/feedback.js
Due: eslint, prettier --write

Move `noSentry` from testcases to properly asset Sentry is not called
  src/components/feedback/__tests__/disable-sentry.test.js
  src/components/feedback/__tests__/feedback-test-cases.js
Due: eslint, prettier --write

Remove "Contact support" from categories that infer "helpful" feedback
  src/components/feedback/__tests__/__snapshots__/categories.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/__tests__/categories.test.js
  src/components/feedback/categories.js
  src/components/feedback/feedback.js
Due: eslint, prettier --write

Match Figma designs
  src/components/feedback/__tests__/__snapshots__/categories.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/categories.js
  src/components/feedback/components/category-like.js
  src/components/feedback/components/category-problem.js
  src/components/feedback/components/forms.js
Due: eslint, prettier --write

Add back webhooks
  src/components/feedback/__tests__/feedback-test-cases.js
  src/components/feedback/examples/basic.js
Due: eslint, prettier --write

Improve color contrast and aria-labels
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/feedback/__tests__/__snapshots__/confirmation.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/components/forms.js
  src/components/feedback/feedback.js
  src/css/docs-prose.css
Due: eslint, prettier --write

Use validationError for textarea error
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/__tests__/shared.js
  src/components/feedback/components/forms.js
Due: eslint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Update uuid
  package-lock.json
  package.json
  src/components/feedback/feedback.js
Due: eslint, prettier --write

Clean up
  src/components/feedback/feedback.js
Due: eslint, prettier --write

Update caniuse-lite
  package-lock.json
Due: prettier --write

Fix `sortVersions` for prerelease versions greater than 10.
  src/helpers/version-sort.js
  tests/version-sort.test.js
Due: eslint, prettier --write

Fix `sortVersions` for prerelease versions greater than 10. (#464)
  CHANGELOG.md
  src/helpers/version-sort.js
  tests/version-sort.test.js
Due: eslint, prettier --write

Prepare 4.0.2
  CHANGELOG.md
Due: prettier --write

4.0.2
  package-lock.json
  package.json
Due: prettier --write

make id required prop, update from overview to guides
  src/components/breadcrumb/__tests__/__snapshots__/breadcrumb.test.js.snap
  src/components/breadcrumb/__tests__/breadcrumb-test-cases.js
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/__tests__/navigation-accordion-test-cases.js
  src/components/navigation-accordion/examples/basic.js
  src/components/navigation-accordion/navigation-accordion.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/__tests__/page-layout-test-cases.js
  src/components/page-layout/examples/example-page.js
  src/components/page-layout/examples/example.js
  src/components/page-layout/examples/full.js
  src/components/page-layout/examples/group-index-page.js
  src/components/page-layout/examples/page.js
  src/components/page-layout/page-layout.js
  src/helpers/batfish/__tests__/navigation.test.js
Due: eslint, prettier --write

style grouped guide index for narrow screens
  src/components/page-layout/components/guide-group-index.js
Due: eslint, prettier --write

Move test to a more ideal location
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/category-confusing.test.js
Due: eslint, prettier --write

update snapshots
  src/components/breadcrumb/__tests__/__snapshots__/breadcrumb.test.js.snap
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/helpers/batfish/__tests__/navigation.test.js
Due: eslint, prettier --write

update component name
  src/components/page-layout/components/next-page.js
Due: eslint, prettier --write

update snapshot
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: none

[grouped guides] Use RelatedPage for next page functionality (#461)
  docs/src/pages/guides/grouped-guides/resulting-ui.md
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/next-page.js
  src/components/page-layout/components/next-prev-page.js
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/__tests__/related-page-test-cases.js
  src/components/related-page/__tests__/related-page.test.js
  src/components/related-page/related-page.js
Due: eslint, prettier --write

add getSubPages test
  src/components/page-layout/__tests__/utils.test.js
Due: eslint, prettier --write

clean up getSubPage test
  src/components/page-layout/__tests__/utils.test.js
  src/components/page-layout/utils.js
Due: eslint, prettier --write

clean up, add more code comments
  src/components/page-layout/examples/page.js
  src/components/page-layout/page-layout.js
  src/components/page-layout/utils.js
Due: eslint, prettier --write

@mapbox/rehype-prism@0.7.0
  package-lock.json
  package.json
Due: prettier --write

prismjs@1.24.0
  package-lock.json
  package.json
Due: prettier --write

Update @mapbox/rehype-prism@0.7.0 and prismjs@1.24.0 (#466)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: ((((any of: *.js) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yml)
