Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

Create placeholder
  CHANGELOG.md
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Add themeCompact prop
  src/components/search/__tests__/results.js
  src/components/search/search-box.js
  src/components/search/search-result.js
  src/components/search/search.js
Due: eslint, prettier --write

Add customEmptyResultMessage prop
  src/components/search/__tests__/results.js
  src/components/search/search-box.js
  src/components/search/search.js
Due: eslint, prettier --write

Factor defaultResults back out
  src/components/search/__tests__/results.js
  src/components/search/search.js
Due: eslint, prettier --write

Incorporate custom empty message into test case
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/__tests__/search-test-cases.js
  src/components/search/search-box.js
Due: eslint, prettier --write

Revert changes to package-lock.json (since there are no changes to package.json)
  package-lock.json
Due: prettier --write

Remove `only` on Jest test
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/navigation.test.js
Due: eslint, prettier --write

Run `jest -u` to update snapshots
  src/components/search/__tests__/__snapshots__/search.test.js.snap
Due: none

Append note to each test case description to remind us to be mindful of query usage
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/__tests__/search-test-cases.js
Due: eslint, prettier --write

Fix test order to allow `npm test -- -u`
  package.json
Due: prettier --write

add referrer tag to feedback module
  src/components/feedback/feedback.js
Due: eslint, prettier --write

bump sentry version
  package-lock.json
  package.json
Due: prettier --write

update changelog
  CHANGELOG.md
Due: prettier --write

Add a referrer tag to the Feedback module; bump Sentry version (#335)
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/feedback/feedback.js
Due: eslint, prettier --write

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

1.2.0
  package-lock.json
  package.json
Due: prettier --write

Refactor customEmptyResultMessage to emptyResultMessage
  src/components/search/__tests__/results.js
  src/components/search/search-box.js
  src/components/search/search.js
Due: eslint, prettier --write

Update CONTRIBUTING.md (#336)
  CONTRIBUTING.md
Due: prettier --write

Add aria-label
  src/components/search/__tests__/results.js
Due: eslint, prettier --write

Use classnames
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-box.js
  src/components/search/search.js
Due: eslint, prettier --write

hide results until overrideSearchTerm not null
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-box.js
Due: eslint, prettier --write

Fix example inputId for to pass a11y lighthouse test
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/examples/basic.js
  src/components/search/examples/disabled.js
  src/components/search/examples/narrow.js
Due: eslint, prettier --write

Update page-layout.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: none

Update snapshots
  src/components/topbar-sticker/__tests__/__snapshots__/topbar-sticker.test.js.snap
  src/components/topbar/__tests__/__snapshots__/topbar.test.js.snap
Due: none

Add new props to `Search` to allow further customization by other subdomains (#329)
  CHANGELOG.md
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/__tests__/results.js
  src/components/search/__tests__/search-test-cases.js
  src/components/search/__tests__/search.test.js
  src/components/search/examples/basic.js
  src/components/search/examples/disabled.js
  src/components/search/examples/narrow.js
  src/components/search/search-box.js
  src/components/search/search-result.js
  src/components/search/search.js
  src/components/topbar-sticker/__tests__/__snapshots__/topbar-sticker.test.js.snap
  src/components/topbar/__tests__/__snapshots__/topbar.test.js.snap
Due: eslint, prettier --write

1.3.0
  package-lock.json
  package.json
Due: prettier --write

Add prop to Search component
  src/components/search/__tests__/results.js
  src/components/search/__tests__/search-test-cases.js
  src/components/search/search-box.js
  src/components/search/search-result.js
  src/components/search/search.js
Due: eslint, prettier --write

Update snapshot
  src/components/search/__tests__/__snapshots__/search.test.js.snap
Due: none

Clean up comments
  src/components/navigation-dropdown/navigation-dropdown.js
Due: eslint, prettier --write

Make test case work with ie11
  src/components/navigation-dropdown/__tests__/navigation-dropdown-test-cases.js
Due: eslint, prettier --write

Set base meta tag to handle relative asset files
  docs/src/components/page-shell.js
  src/components/browser/__tests__/__snapshots__/browser.test.js.snap
  src/components/browser/__tests__/browser-test-cases.js
  src/components/browser/examples/basic.js
  src/components/card-container/__tests__/__snapshots__/card-container.test.js.snap
  src/components/card-container/examples/basic.js
  src/components/card-container/examples/cols.js
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/card/examples/basic.js
  src/components/demo-iframe/examples/basic.js
  src/components/examples-page/__tests__/__snapshots__/examples-page.test.js.snap
  src/components/examples-page/examples/basic.js
  src/components/phone/__tests__/__snapshots__/phone.test.js.snap
  src/components/phone/__tests__/phone-test-cases.js
  src/components/phone/examples/basic.js
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/examples/video.js
  src/components/video/__tests__/__snapshots__/video.test.js.snap
  src/components/video/__tests__/video-test-cases.js
  src/components/video/examples/basic.js
Due: eslint, prettier --write

Clean up
  src/components/page-layout/page-layout.js
Due: eslint, prettier --write

Add documentation
  src/components/breadcrumb/breadcrumb.js
Due: eslint, prettier --write

Move to utils; add test
  src/components/breadcrumb/__tests__/utils.test.js
  src/components/breadcrumb/breadcrumb.js
  src/components/breadcrumb/utils.js
Due: eslint, prettier --write

Revert "Set base meta tag to handle relative asset files"
  docs/src/components/page-shell.js
  src/components/browser/__tests__/__snapshots__/browser.test.js.snap
  src/components/browser/__tests__/browser-test-cases.js
  src/components/browser/examples/basic.js
  src/components/card-container/__tests__/__snapshots__/card-container.test.js.snap
  src/components/card-container/examples/basic.js
  src/components/card-container/examples/cols.js
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/card/examples/basic.js
  src/components/demo-iframe/examples/basic.js
  src/components/examples-page/__tests__/__snapshots__/examples-page.test.js.snap
  src/components/examples-page/examples/basic.js
  src/components/phone/__tests__/__snapshots__/phone.test.js.snap
  src/components/phone/__tests__/phone-test-cases.js
  src/components/phone/examples/basic.js
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/examples/video.js
  src/components/video/__tests__/__snapshots__/video.test.js.snap
  src/components/video/__tests__/video-test-cases.js
  src/components/video/examples/basic.js
Due: eslint, prettier --write
