Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

Added colSize prop to indexCard
  src/components/index-card/index-card.js
Due: eslint, prettier --write

Simplified colsMed statement
  src/components/index-card/index-card.js
Due: eslint, prettier --write

Update index card (#652)
  src/components/index-card/index-card.js
Due: eslint, prettier --write

Prepare v6.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

6.7.0
  package-lock.json
  package.json
Due: prettier --write

sync package-lock.json
  package-lock.json
Due: prettier --write

Prepare v.6.7.1
  CHANGELOG.md
Due: prettier --write

6.7.1
  package-lock.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Create CODEOWNERS
  CODEOWNERS
Due: none
