Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

Add SplitPage component; update documentation
  docs/src/components/split-page-shell.js
  docs/src/pages/guides/split-pages/index.js
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/intro.md
  docs/src/pages/guides/split-pages/sections/limitations.md
  docs/src/pages/guides/split-pages/sections/tag-debugger.md
  src/components/page-layout/split-page.js
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

Add links to all pages using split-pages
  docs/src/pages/guides/split-pages/sections/intro.md
Due: prettier --write

add `why` to redirects section
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/limitations.md
Due: prettier --write

Add note about heading order
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/limitations.md
Due: prettier --write

Add remark-linters to assert catalog
  .remarkrc.js
  conf/ignore-links.json
  docs/src/pages/batfish-helpers.md
  docs/src/pages/examples/example-1.md
  docs/src/pages/examples/example-2.md
  docs/src/pages/examples/example-3.md
  docs/src/pages/index.md
  package-lock.json
  package.json
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

Add copyeditor to test catalog pages
  .copyeditorignore
  docs/local.dic
  docs/src/pages/examples/example-1.md
  docs/src/pages/examples/example-2.md
  docs/src/pages/examples/example-3.md
  docs/src/pages/examples/index.md
  docs/src/pages/index.md
  package-lock.json
  package.json
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Clean up
  docs/local.dic
  docs/src/pages/examples/example-1.md
  docs/src/pages/examples/example-2.md
  docs/src/pages/examples/example-3.md
  docs/src/pages/examples/index.md
  docs/src/pages/guides/index.md
  docs/src/pages/guides/page-layout.md
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Clean up
  conf/ignore-links.json
  docs/local.dic
  docs/src/pages/guides/batfish-helpers.md
  docs/src/pages/guides/page-layout.md
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/intro.md
  docs/src/pages/guides/split-pages/sections/limitations.md
  docs/src/pages/guides/split-pages/sections/tag-debugger.md
  docs/src/pages/index.md
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Add back removed section
  docs/src/pages/guides/batfish-helpers.md
Due: prettier --write

Reduce changes
  docs/src/pages/index.md
Due: prettier --write

Disable generated file
  docs/src/pages/guides/page-layout.md
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Update remark-lint-mapbox; add products
  docs/src/pages/batfish-helpers.md
  docs/src/pages/examples/example-1.md
  docs/src/pages/examples/example-2.md
  docs/src/pages/examples/example-3.md
  docs/src/pages/examples/index.md
  docs/src/pages/index.md
  package-lock.json
  package.json
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Update snapshots
  docs/src/pages/index.md
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Reduce changes
  docs/src/pages/examples/example-1.md
  docs/src/pages/examples/example-2.md
  docs/src/pages/examples/example-3.md
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Update fixtures
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Add products
  docs/src/pages/guides/index.md
  docs/src/pages/guides/page-layout.md
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Copyedits
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/intro.md
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
Due: prettier --write

Add @mapbox/rehype-prism (for catalog)
  docs/batfish.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

copyedits
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/intro.md
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
Due: prettier --write

Documentation
  docs/src/components/layout-usage.js
  docs/src/pages/guides/page-layout.md
  src/components/page-layout/page-layout.js
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

documentation
  .eslintignore
  docs/src/components/other-props.js
  docs/src/components/snippets/.eslintrc
  docs/src/components/snippets/frontmatter.js
  docs/src/pages/guides/batfish-helpers.md
  docs/src/pages/guides/page-layout.md
  package-lock.json
  package.json
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

Update documentation
  docs/src/pages/guides/page-layout.md
  src/components/page-layout/page-layout.js
Due: eslint, prettier --write

v1.0.0-layouts.0
  package-lock.json
  package.json
Due: prettier --write

join topics and helpers in index file for easier importing
  src/helpers/batfish/__tests__/navigation.test.js
  src/helpers/batfish/__tests__/topics.test.js
  src/helpers/batfish/index.js
Due: eslint, prettier --write

v1.0.0-layouts.1
  package-lock.json
  package.json
Due: prettier --write

Pin search-ui versions
  package-lock.json
  package.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Pin search-ui versions (#321)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Prepare 0.30.0
  CHANGELOG.md
Due: prettier --write

0.30.0
  package-lock.json
  package.json
Due: prettier --write

Update snapshots
  src/components/android-layout-code-block/__tests__/__snapshots__/android-layout-code-block.test.js.snap
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/highlight/__tests__/__snapshots__/highlight.test.js.snap
Due: none

Update package.json
  package.json
Due: prettier --write

Apply suggestions from code review
  docs/src/pages/guides/split-pages/sections/how-to.md
  src/components/page-layout/page-layout.js
Due: eslint, prettier --write

Tighten up language around partial files and page
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/intro.md
  docs/src/pages/guides/split-pages/sections/limitations.md
Due: prettier --write

Remove products, services, platforms, contenttype for splitPage function (it's covered elsewhere)
  docs/batfish.config.js
  docs/src/pages/guides/batfish-helpers.md
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
  src/helpers/batfish/index.js
  src/helpers/batfish/split-pages.js
Due: eslint, prettier --write

Clean up
  docs/src/components/other-props.js
Due: eslint, prettier --write

v1.0.0-layouts.2
  package-lock.json
  package.json
Due: prettier --write

Clean up depenencies
  package-lock.json
  package.json
Due: prettier --write

v1.0.0-layouts.3
  package-lock.json
  package.json
Due: prettier --write
