Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Fix Breadcrumb padding (#361)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/page-layout.js
Due: eslint, prettier --write

Add "domain" prop to PageShell; remove old search-related props (#363)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/examples/full.js
  src/components/page-layout/page-layout.js
Due: eslint, prettier --write

Increase limiter--wide at 800px min-width query (#367)
  src/css/docs-prose.css
Due: prettier --write

IE 11 fixes: replace find with reduce, fix flex-child (#364)
  docs/batfish.config.js
  src/components/on-this-page/helpers.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/page-layout.js
Due: eslint, prettier --write

v2.0.0-beta.1
  package-lock.json
  package.json
Due: prettier --write

Add "search" filter to ExampleIndex (#369)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/example-index.js
  src/components/page-layout/examples/example.js
Due: eslint, prettier --write

v2.0.0-beta.2
  package-lock.json
  package.json
Due: prettier --write

handle overflow for IE11
  src/components/navigation-accordion/navigation-accordion.js
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

snaps
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
Due: none

remove testing tag, simplify classnames
  src/components/navigation-accordion/navigation-accordion.js
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

comment whoopsie
  src/components/navigation-accordion/navigation-accordion.js
Due: eslint, prettier --write

[Info arch] Fix unwanted nav accordion scroll bars in IE (#370)
  src/components/navigation-accordion/navigation-accordion.js
Due: eslint, prettier --write

Add unprose class to OverviewHeader ul
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/overview-header.js
Due: eslint, prettier --write

Add unprose class to OverviewHeader ul (#372)
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/overview-header.js
Due: eslint, prettier --write

v2.0.0-beta.3
  package-lock.json
  package.json
Due: prettier --write

Add `flex-parent--center-cross` to OverviewHeader to center content (image) vertically
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/overview-header.js
Due: eslint, prettier --write

Add `flex-parent--center-cross` to OverviewHeader to center content (image) vertically (#375)
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/overview-header.js
Due: eslint, prettier --write

v2.0.0-beta.4
  package-lock.json
  package.json
Due: prettier --write

Improve color contrast on `LevelIndicator` (#366)
  CHANGELOG.md
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/level-indicator/__tests__/__snapshots__/level-indicator.test.js.snap
  src/components/level-indicator/level-indicator.js
Due: eslint, prettier --write

Add padding around catalog site
  docs/src/app.js
  docs/src/components/page-shell.js
Due: eslint, prettier --write

Add Search to PageLayout sidebar
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/sidebar.js
  src/components/page-layout/page-layout.js
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-box.js
  src/components/topbar-sticker/__tests__/__snapshots__/topbar-sticker.test.js.snap
  src/components/topbar/__tests__/__snapshots__/topbar.test.js.snap
Due: eslint, prettier --write

Add "Guides" to titleGenerator as a title to not push
  src/components/search/title-generator.js
  tests/title-generator.test.js
Due: eslint, prettier --write

Deprecate `GlossaryCard`, `GlossaryPage`, and `GlossarySection` components
  CHANGELOG.md
  docs/src/categories.json
  src/components/glossary-card/__tests__/__snapshots__/glossary-card.test.js.snap
  src/components/glossary-card/__tests__/glossary-card-test-cases.js
  src/components/glossary-card/__tests__/glossary-card.test.js
  src/components/glossary-card/examples/basic.js
  src/components/glossary-card/glossary-card.js
  src/components/glossary-card/index.js
  src/components/glossary-page/__tests__/__snapshots__/glossary-page.test.js.snap
  src/components/glossary-page/__tests__/glossary-page-test-cases.js
  src/components/glossary-page/__tests__/glossary-page.test.js
  src/components/glossary-page/examples/basic.js
  src/components/glossary-page/glossary-page.js
  src/components/glossary-page/index.js
  src/components/glossary-section/__tests__/__snapshots__/glossary-section.test.js.snap
  src/components/glossary-section/__tests__/glossary-section-test-cases.js
  src/components/glossary-section/__tests__/glossary-section.test.js
  src/components/glossary-section/examples/basic.js
  src/components/glossary-section/glossary-section.js
  src/components/glossary-section/index.js
Due: eslint, prettier --write

[info arch] Add Search to PageLayout sidebar (#377)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/sidebar.js
  src/components/page-layout/page-layout.js
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-box.js
  src/components/search/title-generator.js
  src/components/topbar-sticker/__tests__/__snapshots__/topbar-sticker.test.js.snap
  src/components/topbar/__tests__/__snapshots__/topbar.test.js.snap
  tests/title-generator.test.js
Due: eslint, prettier --write

Deprecate `GlossaryCard`, `GlossaryPage`, and `GlossarySection` components (#376)
  CHANGELOG.md
  docs/src/categories.json
  src/components/glossary-card/__tests__/__snapshots__/glossary-card.test.js.snap
  src/components/glossary-card/__tests__/glossary-card-test-cases.js
  src/components/glossary-card/__tests__/glossary-card.test.js
  src/components/glossary-card/examples/basic.js
  src/components/glossary-card/glossary-card.js
  src/components/glossary-card/index.js
  src/components/glossary-page/__tests__/__snapshots__/glossary-page.test.js.snap
  src/components/glossary-page/__tests__/glossary-page-test-cases.js
  src/components/glossary-page/__tests__/glossary-page.test.js
  src/components/glossary-page/examples/basic.js
  src/components/glossary-page/glossary-page.js
  src/components/glossary-page/index.js
  src/components/glossary-section/__tests__/__snapshots__/glossary-section.test.js.snap
  src/components/glossary-section/__tests__/glossary-section-test-cases.js
  src/components/glossary-section/__tests__/glossary-section.test.js
  src/components/glossary-section/examples/basic.js
  src/components/glossary-section/glossary-section.js
  src/components/glossary-section/index.js
Due: eslint, prettier --write

v2.0.0-beta.5
  package-lock.json
  package.json
Due: prettier --write

Fix path to file to work on test cases app and catalog page
  src/components/browser/__tests__/__snapshots__/browser.test.js.snap
  src/components/browser/__tests__/browser-test-cases.js
  src/components/browser/examples/basic.js
  src/components/card-container/__tests__/__snapshots__/card-container.test.js.snap
  src/components/card-container/examples/basic.js
  src/components/card-container/examples/cols.js
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/card/examples/basic.js
  src/components/card/examples/no-description.js
  src/components/demo-iframe/examples/basic.js
  src/components/phone/__tests__/__snapshots__/phone.test.js.snap
  src/components/phone/__tests__/phone-test-cases.js
  src/components/phone/examples/basic.js
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/examples/video.js
  src/components/video/__tests__/__snapshots__/video.test.js.snap
  src/components/video/__tests__/video-test-cases.js
  src/components/video/examples/basic.js
Due: eslint, prettier --write

Remove unused packages
  package-lock.json
  package.json
Due: prettier --write

Set height to prevent content shift as Search component loads
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/sidebar.js
Due: eslint, prettier --write

Fix path to file to work on test cases app and catalog page (#379)
  src/components/browser/__tests__/__snapshots__/browser.test.js.snap
  src/components/browser/__tests__/browser-test-cases.js
  src/components/browser/examples/basic.js
  src/components/card-container/__tests__/__snapshots__/card-container.test.js.snap
  src/components/card-container/examples/basic.js
  src/components/card-container/examples/cols.js
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/card/examples/basic.js
  src/components/card/examples/no-description.js
  src/components/demo-iframe/examples/basic.js
  src/components/phone/__tests__/__snapshots__/phone.test.js.snap
  src/components/phone/__tests__/phone-test-cases.js
  src/components/phone/examples/basic.js
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/examples/video.js
  src/components/video/__tests__/__snapshots__/video.test.js.snap
  src/components/video/__tests__/video-test-cases.js
  src/components/video/examples/basic.js
Due: eslint, prettier --write

Set height to prevent content shift as Search component loads (#380)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/sidebar.js
Due: eslint, prettier --write

Prepare 2.0.0
  CHANGELOG.md
Due: prettier --write

2.0.0
  package-lock.json
  package.json
Due: prettier --write

Sort まず始めに (Getting started) to front of topic list
  src/helpers/batfish/__tests__/filters.test.js
  src/helpers/batfish/filters.js
Due: eslint, prettier --write

remove mapbox metadata when the component unmounts
  src/components/analytics-shell/__tests__/analytics-shell.test.js
  src/components/analytics-shell/analytics-shell.js
  src/components/analytics-shell/examples/basic.js
Due: eslint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Sort まず始めに (Getting started) to the start of topic list (#381)
  CHANGELOG.md
  src/helpers/batfish/__tests__/filters.test.js
  src/helpers/batfish/filters.js
Due: eslint, prettier --write

Prepare 2.1.0
  CHANGELOG.md
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: ((((any of: *.js) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yml)
