Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Change newline in circle ci config to test
  .circleci/config.yml
Due: prettier --write

Change the get npm token step
  .circleci/config.yml
Due: prettier --write

Add environment variable
  .circleci/config.yml
Due: prettier --write

Remove working dir
  .circleci/config.yml
Due: prettier --write

Change to linus
  .circleci/config.yml
Due: prettier --write

Revert yaml format changes
  .circleci/config.yml
Due: prettier --write

Revert get npm step
  .circleci/config.yml
Due: prettier --write

Add environment var
  .circleci/config.yml
Due: prettier --write

fix tests, use circleci instead of travisci
  .circleci/config.yml
  .travis.yml
  CHANGELOG.md
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/page-layout/utils.js
Due: eslint, prettier --write

fix tests, use circleci instead of travisci (#543)
  .circleci/config.yml
  .travis.yml
  CHANGELOG.md
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/page-layout/utils.js
Due: eslint, prettier --write

improve search
  CHANGELOG.md
  package-lock.json
  src/components/search/search-box.js
  src/components/search/search-modal.js
  src/components/search/search-result.js
Due: eslint, prettier --write

improve search (#542)
  CHANGELOG.md
  package-lock.json
  src/components/search/search-box.js
  src/components/search/search-modal.js
  src/components/search/search-result.js
Due: eslint, prettier --write

5.1.7
  package-lock.json
  package.json
Due: prettier --write

add pr script
  CONTRIBUTING.md
  scripts/create-pull-request.sh
Due: prettier --write

Update config.yml
  .circleci/config.yml
Due: prettier --write

add external link prop to example card
  src/components/card/card.js
  src/components/page-layout/components/example-index.js
Due: eslint, prettier --write

add top padding to SignupBanner
  src/components/page-layout/components/content.js
Due: eslint, prettier --write

update snapshots
  src/components/card-container/__tests__/__snapshots__/card-container.test.js.snap
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: none

add pr script (#544)
  CONTRIBUTING.md
  scripts/create-pull-request.sh
Due: prettier --write

External link cards (#546)
  src/components/card-container/__tests__/__snapshots__/card-container.test.js.snap
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/card/card.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/example-index.js
Due: eslint, prettier --write

5.1.8
  package-lock.json
  package.json
Due: prettier --write

Updates
  assets/dr-ui-changelog~dr-ui-examples~dr-ui-examples-example-1~dr-ui-examples-example-2~dr-ui-examples-exam~85830def-c5e120ec76c472670645.chunk.js
  assets/dr-ui-changelog~dr-ui-examples~dr-ui-examples-example-1~dr-ui-examples-example-2~dr-ui-examples-exam~85830def-fa726376e3ce17a222a5.chunk.js
  assets/dr-ui-components-17be9dcd99c71df07a29.chunk.js
  assets/dr-ui-components-9de61331a9bbf0be1957.chunk.js
  assets/dr-ui-guides-page-layout-0bfca2cae1ae11735d40.chunk.js
  assets/dr-ui-guides-page-layout-df8a14c44fe229c99a30.chunk.js
  assets/dr-ui-guides-split-pages-7533fae3becb93d3ab8b.chunk.js
  assets/dr-ui-guides-split-pages-b13cf6273f0bde495d5f.chunk.js
  assets/manifest-6ceb2b02b1a7b1c2cafd.js
  assets/manifest-922a860b3debd225aa15.js
  changelog/index.html
  components/index.html
  examples/example-1/index.html
  examples/example-2/index.html
  examples/example-3/index.html
  examples/example-4/index.html
  examples/example-5/index.html
  examples/index.html
  guides/batfish-helpers/index.html
  guides/grouped-guides/file-structure/index.html
  guides/grouped-guides/frontmatter/index.html
  guides/grouped-guides/index.html
  guides/grouped-guides/resulting-ui/index.html
  guides/index.html
  guides/multi-structured/index.html
  guides/page-layout/index.html
  guides/split-pages/index.html
  guides/split-pages/sections/how-to/index.html
  guides/split-pages/sections/intro/index.html
  guides/split-pages/sections/limitations/index.html
  guides/split-pages/sections/tag-debugger/index.html
  guides/test-pages/a11y/index.html
  guides/test-pages/headings/index.html
  guides/test-pages/index.html
  index.html
  sitemap.xml
Due: eslint, prettier --write

add discord call to action button to pagelayout/content
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/discord-cta.js
  src/components/page-layout/components/signup-banner.js
Due: eslint, prettier --write

add discord call to action button to pagelayout/content (#547)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/discord-cta.js
  src/components/page-layout/components/signup-banner.js
Due: eslint, prettier --write

Updated changelog to reflect new version with Mapbox Developers Discord call-to-action button on right aside.
  CHANGELOG.md
Due: prettier --write

5.1.9
  package-lock.json
  package.json
Due: prettier --write

Corrected incorrect versioning.
  package-lock.json
  package.json
Due: prettier --write

prepare v5.1.10
  CHANGELOG.md
Due: prettier --write

5.1.10
  package-lock.json
  package.json
Due: prettier --write

Updated CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

upgrade mr-ui to 2.1.2
  package-lock.json
  package.json
Due: prettier --write

upgrade mr-ui to 2.1.2
  package-lock.json
  package.json
  src/components/back-to-top-button/back-to-top-button.js
Due: eslint, prettier --write

Update back-to-top-button.js
  src/components/back-to-top-button/back-to-top-button.js
Due: eslint, prettier --write

Update test snapshots to latest mr-ui
  src/components/android-layout-code-block/__tests__/__snapshots__/android-layout-code-block.test.js.snap
  src/components/back-to-top-button/__tests__/__snapshots__/back-to-top-button.test.js.snap
  src/components/breadcrumb/__tests__/__snapshots__/breadcrumb.test.js.snap
  src/components/browser/__tests__/__snapshots__/browser.test.js.snap
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/code-snippet-title/__tests__/__snapshots__/code-snippet-title.test.js.snap
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/code-toggle/__tests__/__snapshots__/code-toggle.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/demo-iframe/__tests__/__snapshots__/demo-iframe.test.js.snap
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/error-boundary/__tests__/__snapshots__/error-boundary.test.js.snap
  src/components/feedback/__tests__/__snapshots__/confirmation.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/highlight/__tests__/__snapshots__/highlight.test.js.snap
  src/components/map-wrapper/__tests__/__snapshots__/map-wrapper.test.js.snap
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/numbered-code-snippet/__tests__/__snapshots__/numbered-code-snippet.test.js.snap
  src/components/on-this-page/__tests__/__snapshots__/on-this-page.test.js.snap
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: ((((any of: *.js) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yml)
