Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Add lazy demo page (future doc page)
  docs/src/pages/guides/lazy.md
Due: prettier --write

Update src/components/lazy/lazy.js
  src/components/lazy/lazy.js
Due: eslint, prettier --write

@mapbox/remark-lint-mapbox@2.4.0-perf.0
  package-lock.json
  package.json
Due: prettier --write

Add Lazy component (#392)
  CHANGELOG.md
  docs/src/categories.json
  docs/src/pages/guides/lazy.md
  package-lock.json
  package.json
  src/components/lazy/__tests__/__snapshots__/lazy.test.js.snap
  src/components/lazy/__tests__/lazy-test-cases.js
  src/components/lazy/__tests__/lazy.test.js
  src/components/lazy/examples/basic.js
  src/components/lazy/index.js
  src/components/lazy/lazy.js
Due: eslint, prettier --write

Lazy load Search component in PageLayout
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/sidebar.js
Due: eslint, prettier --write

:wrench: Update snapshots
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

3.0.0-perf.0
  package-lock.json
  package.json
Due: prettier --write

Wait to load until Search is clicked
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/sidebar.js
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-box.js
  src/components/search/search-provider.js
  src/components/search/search.js
  src/components/topbar-sticker/__tests__/__snapshots__/topbar-sticker.test.js.snap
  src/components/topbar/__tests__/__snapshots__/topbar.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

3.0.0-perf.1
  package-lock.json
  package.json
Due: prettier --write

Add back Lazy
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/sidebar.js
Due: eslint, prettier --write

3.0.0-perf.2
  package-lock.json
  package.json
Due: prettier --write

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Revert "Wait to load until Search is clicked"
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-box.js
  src/components/search/search-provider.js
  src/components/search/search.js
  src/components/topbar-sticker/__tests__/__snapshots__/topbar-sticker.test.js.snap
  src/components/topbar/__tests__/__snapshots__/topbar.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

Test: componentDidMount
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/sidebar.js
Due: eslint, prettier --write

3.0.0-perf.5
  package-lock.json
  package.json
Due: prettier --write

GLWrapper -> MapWrapper
  docs/src/categories.json
  src/components/demo-iframe/demo-iframe.js
  src/components/gl-wrapper/index.js
  src/components/map-wrapper/__tests__/__snapshots__/map-wrapper.test.js.snap
  src/components/map-wrapper/__tests__/map-wrapper-test-cases.js
  src/components/map-wrapper/__tests__/map-wrapper.test.js
  src/components/map-wrapper/examples/basic.js
  src/components/map-wrapper/index.js
  src/components/map-wrapper/map-wrapper.js
Due: eslint, prettier --write

Add required `height` prop
  src/components/map-wrapper/__tests__/map-wrapper-test-cases.js
  src/components/map-wrapper/examples/basic.js
  src/components/map-wrapper/map-wrapper.js
Due: eslint, prettier --write

In DemoIframe add MapWrapper height; require `title`
  CHANGELOG.md
  src/components/demo-iframe/__tests__/__snapshots__/demo-iframe.test.js.snap
  src/components/demo-iframe/__tests__/demo-iframe-test-cases.js
  src/components/demo-iframe/demo-iframe.js
  src/components/demo-iframe/examples/basic.js
  src/components/map-wrapper/__tests__/__snapshots__/map-wrapper.test.js.snap
Due: eslint, prettier --write

comment
  src/components/map-wrapper/map-wrapper.js
Due: eslint, prettier --write

3.0.0-perf.6
  package-lock.json
  package.json
Due: prettier --write

Remove height from test case
  src/components/demo-iframe/__tests__/demo-iframe-test-cases.js
Due: eslint, prettier --write

Set minHeight in MapWrapper (formerly GLWrapper) and DemoIframe (#395)
  CHANGELOG.md
  docs/src/categories.json
  package-lock.json
  package.json
  src/components/demo-iframe/__tests__/demo-iframe-test-cases.js
  src/components/demo-iframe/demo-iframe.js
  src/components/gl-wrapper/__tests__/__snapshots__/gl-wrapper.test.js.snap
  src/components/gl-wrapper/examples/basic.js
  src/components/gl-wrapper/index.js
  src/components/map-wrapper/__tests__/__snapshots__/map-wrapper.test.js.snap
  src/components/map-wrapper/__tests__/map-wrapper-test-cases.js
  src/components/map-wrapper/__tests__/map-wrapper.test.js
  src/components/map-wrapper/examples/basic.js
  src/components/map-wrapper/index.js
  src/components/map-wrapper/map-wrapper.js
Due: eslint, prettier --write

Revert ":wrench: Update snapshots"
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Revert "Add Lazy component (#392)"
  CHANGELOG.md
  docs/src/categories.json
  docs/src/pages/guides/lazy.md
  package-lock.json
  package.json
  src/components/lazy/__tests__/__snapshots__/lazy.test.js.snap
  src/components/lazy/__tests__/lazy-test-cases.js
  src/components/lazy/__tests__/lazy.test.js
  src/components/lazy/examples/basic.js
  src/components/lazy/index.js
  src/components/lazy/lazy.js
Due: eslint, prettier --write

The `vimeoThumbnail` prop in `RelatedPage` no longer accepts a string
  CHANGELOG.md
  docs/src/pages/components/vimeo-thumb-480.jpg
  docs/src/pages/components/vimeo-thumb-480.webp
  docs/src/pages/components/vimeo-thumb-960.jpg
  docs/src/pages/components/vimeo-thumb-960.webp
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/examples/video.js
  src/components/related-page/related-page.js
  src/components/related-page/vimeo.js
  src/helpers/batfish/__tests__/fixtures/data.json
  src/test-cases-app/files/vimeo_thumb.jpg
  src/test-cases-app/vimeo-thumb-480.jpg
  src/test-cases-app/vimeo-thumb-480.webp
  src/test-cases-app/vimeo-thumb-960.jpg
  src/test-cases-app/vimeo-thumb-960.webp
Due: eslint, prettier --write

Reduce changes
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

3.0.0-perf.7
  package-lock.json
  package.json
Due: prettier --write

3.0.0-perf.8
  package-lock.json
  package.json
Due: prettier --write

Remove IE 11 support
  .github/PULL_REQUEST_TEMPLATE.md
  babel.config.js
  docs/batfish.config.js
  docs/src/pages/components/index.md
  docs/src/pages/guides/page-layout.md
  package-lock.json
  package.json
  src/components/page-layout/page-layout.js
  src/components/search/search.js
Due: eslint, prettier --write

Update page-layout.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: none

3.0.0-perf.9
  package-lock.json
  package.json
Due: prettier --write

Renname overflow issue (since it affects Edge, too)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/page-layout.js
Due: eslint, prettier --write

Add not dead and not IE 11 to browserslist
  package.json
Due: prettier --write

3.0.0-perf.10
  package-lock.json
  package.json
Due: prettier --write

Update babel deps
  package-lock.json
  package.json
Due: prettier --write

Revert browserslist
  package.json
Due: prettier --write

3.0.0-perf.11
  package-lock.json
  package.json
Due: prettier --write

`height` on MapWrapper can be string (`"100%"`) or number (`400`)
  src/components/map-wrapper/map-wrapper.js
Due: eslint, prettier --write

Require AppropriateImages in `vimeoThumbnail` prop in `RelatedPage` (#398)
  CHANGELOG.md
  docs/src/pages/components/vimeo-thumb-480.jpg
  docs/src/pages/components/vimeo-thumb-480.webp
  docs/src/pages/components/vimeo-thumb-960.jpg
  docs/src/pages/components/vimeo-thumb-960.webp
  package-lock.json
  package.json
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/examples/video.js
  src/components/related-page/related-page.js
  src/components/related-page/vimeo.js
  src/test-cases-app/files/vimeo_thumb.jpg
  src/test-cases-app/vimeo-thumb-480.jpg
  src/test-cases-app/vimeo-thumb-480.webp
  src/test-cases-app/vimeo-thumb-960.jpg
  src/test-cases-app/vimeo-thumb-960.webp
Due: eslint, prettier --write

Remove IE 11 support (#399)
  .github/PULL_REQUEST_TEMPLATE.md
  babel.config.js
  docs/batfish.config.js
  docs/src/pages/components/index.md
  docs/src/pages/guides/page-layout.md
  package-lock.json
  package.json
  src/components/page-layout/page-layout.js
  src/components/search/search.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: ((((any of: *.js) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yml)
