Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

Handle `Video` play as a promise (#459)
  CHANGELOG.md
  src/components/video/video.js
Due: eslint, prettier --write

Replace `page` instance in confirmation with variable `type`
  src/components/feedback/__tests__/__snapshots__/confirmation.test.js.snap
  src/components/feedback/feedback.js
Due: eslint, prettier --write

Set label/value for "I like" options to improve data reporting
  src/components/feedback/__tests__/__snapshots__/categories.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/categories.js
  src/components/feedback/components/category-like.js
Due: eslint, prettier --write

require anonymousId in Segment request
  src/components/feedback/__tests__/logged-in.test.js
  src/components/feedback/segment.js
Due: eslint, prettier --write

use withScope to keep scope to this single event; move captureMessage inside scope to connect local scope to it
  src/components/feedback/__tests__/category-confusing.test.js
  src/components/feedback/__tests__/category-like.test.js
  src/components/feedback/__tests__/category-problem.test.js
  src/components/feedback/__tests__/disable-sentry.test.js
  src/components/feedback/__tests__/logged-in.test.js
  src/components/feedback/sentry.js
Due: eslint, prettier --write

Add `exited` column to Segment to track when a user closes feedback before submitting
  src/components/feedback/__tests__/category-confusing.test.js
  src/components/feedback/__tests__/category-like.test.js
  src/components/feedback/__tests__/category-problem.test.js
  src/components/feedback/__tests__/close.test.js
  src/components/feedback/__tests__/contact-support.test.js
  src/components/feedback/__tests__/logged-in.test.js
  src/components/feedback/feedback.js
  src/components/feedback/segment.js
Due: eslint, prettier --write

Set feedbackMinimum for required textareas
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/__tests__/category-confusing.test.js
  src/components/feedback/__tests__/category-like.test.js
  src/components/feedback/__tests__/category-problem.test.js
  src/components/feedback/__tests__/shared.js
  src/components/feedback/components/category-confusing.js
  src/components/feedback/components/category-like.js
  src/components/feedback/components/category-problem.js
  src/components/feedback/components/forms.js
Due: eslint, prettier --write

Add Sentry fingerprint
  src/components/feedback/__tests__/category-confusing.test.js
  src/components/feedback/__tests__/category-like.test.js
  src/components/feedback/__tests__/category-problem.test.js
  src/components/feedback/__tests__/disable-sentry.test.js
  src/components/feedback/__tests__/logged-in.test.js
  src/components/feedback/sentry.js
Due: eslint, prettier --write

Tell us more!
  src/components/feedback/__tests__/shared.js
  src/components/feedback/components/forms.js
Due: eslint, prettier --write

Update src/components/page-layout/examples/group-index-page.js
  src/components/page-layout/examples/group-index-page.js
Due: eslint, prettier --write

make id optional
  src/components/navigation-accordion/navigation-accordion.js
Due: eslint, prettier --write

prepare for beta release
  package-lock.json
  package.json
Due: prettier --write

Update sentry, babel
  package-lock.json
  package.json
Due: prettier --write

update caniuse-lte
  package-lock.json
Due: prettier --write

Fix Sentry version
  package.json
Due: prettier --write

4.2.0-beta.0
  package-lock.json
  package.json
Due: prettier --write

Update search-ui
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Update search-ui@1.7.0 (#467)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update husky, lint-staged, jest, prettier
  .eslintignore
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

Run prettier
  src/helpers/version-sort.js
Due: eslint, prettier --write

Update eslint
  package-lock.json
  package.json
Due: prettier --write

Update prismjs
  package-lock.json
  package.json
Due: prettier --write

Update pre-commit
  .husky/pre-commit
Due: none

Walk back to jest@26
  package-lock.json
  package.json
Due: prettier --write

Update devDependencies (#468)
  .eslintignore
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  CHANGELOG.md
  package-lock.json
  package.json
  src/helpers/version-sort.js
Due: eslint, prettier --write

Use es6 modules
  babel.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

4.1.0-alpha.0
  package-lock.json
  package.json
Due: prettier --write

Configure jest to handle es6 modules
  babel.config.js
  package.json
Due: eslint, prettier --write

4.1.0-alpha.1
  package-lock.json
  package.json
Due: prettier --write

Add babel-plugin-transform-react-remove-prop-types and use es6 modules (#456)
  CHANGELOG.md
  babel.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

@sentry/browser@6.10.0
  package-lock.json
  package.json
Due: prettier --write

4.2.0-beta.1
  package-lock.json
  package.json
Due: prettier --write

Reduce margin between OnThisPage and Feedback
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
Due: eslint, prettier --write

Set NODE_ENV on `start`
  package.json
Due: prettier --write

4.2.0-beta.2
  package-lock.json
  package.json
Due: prettier --write

Add Sentry tracing with new `sentryPerformance` prop on AnalyticsShell
  package-lock.json
  package.json
  src/components/analytics-shell/__tests__/analytics-shell.test.js
  src/components/analytics-shell/analytics-shell.js
Due: eslint, prettier --write
