Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

Update package-lock.json
  package-lock.json
Due: prettier --write

4.0.0-alpha.0
  package-lock.json
  package.json
Due: prettier --write

Use PureComponents where components do not require rerenders
  src/components/analytics-shell/analytics-shell.js
  src/components/back-to-top-button/back-to-top-button.js
  src/components/code-snippet-title/code-snippet-title.js
  src/components/code-snippet/code-snippet.js
  src/components/demo-iframe/demo-iframe.js
  src/components/feedback/feedback.js
  src/components/map-wrapper/map-wrapper.js
  src/components/page-layout/components/content.js
  src/components/page-layout/page-layout.js
  src/components/page-layout/split-page.js
  src/components/related-page/related-page.js
  src/components/search/search-box.js
  src/components/search/search-modal.js
  src/components/search/search-result.js
Due: eslint, prettier --write

4.0.0-alpha.1
  package-lock.json
  package.json
Due: prettier --write

Load Search with a facade
  package-lock.json
  package.json
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-box.js
  src/components/search/search-facade.js
  src/components/search/search-modal.js
  src/components/search/search-provider.js
  src/components/search/search-result.js
  src/components/search/search.js
Due: eslint, prettier --write

Create prepareSitemap Batfish helper
  docs/batfish.config.js
  docs/src/pages/guides/batfish-helpers.md
  docs/src/pages/index.js
  package-lock.json
  package.json
  src/helpers/batfish/__tests__/fixtures/data.json
  src/helpers/batfish/__tests__/sitemap.test.js
  src/helpers/batfish/index.js
  src/helpers/batfish/sitemap.js
Due: eslint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Node 12
  .nvmrc
  .travis.yml
Due: prettier --write

Node 12 (#428)
  .nvmrc
  .travis.yml
Due: prettier --write

Enforces where React component static properties should be positioned
  src/.eslintrc.json
  src/components/contextless-ios-view-controller-toggle/contextless-ios-view-controller-toggle.js
  src/components/numbered-code-snippet/numbered-code-snippet.js
  src/components/numbered-code-snippet/show-hide-lines.js
  src/components/toggleable-code-block/toggleable-code-block.js
Due: eslint, prettier --write

Enforces where React component static properties should be positioned (#429)
  src/.eslintrc.json
  src/components/contextless-ios-view-controller-toggle/contextless-ios-view-controller-toggle.js
  src/components/numbered-code-snippet/numbered-code-snippet.js
  src/components/numbered-code-snippet/show-hide-lines.js
  src/components/toggleable-code-block/toggleable-code-block.js
Due: eslint, prettier --write

Prepare 4.0.0 changelog
  CHANGELOG.md
Due: prettier --write

prefer-const
  package-lock.json
  package.json
  src/components/demo-iframe/demo-iframe.js
  src/components/edit/edit.js
  src/components/edit/helpers.js
  src/components/numbered-code-snippet/numbered-code-snippet.js
  src/components/page-layout/components/example-index.js
  src/components/page-layout/utils.js
  src/helpers/batfish/split-pages.js
Due: eslint, prettier --write

Add @loadable/babel-plugin
  babel.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

jsx-no-bind
  docs/src/components/component-example.js
  docs/src/pages/guides/split-pages/sections/how-to.md
  src/.eslintrc.json
  src/components/android-layout-code-block/android-layout-code-block.js
  src/components/back-to-top-button/back-to-top-button.js
  src/components/code-snippet-title/examples/custom.js
  src/components/code-snippet/__tests__/code-snippet-test-cases.js
  src/components/code-snippet/code-snippet.js
  src/components/code-snippet/examples/basic.js
  src/components/code-snippet/examples/everything.js
  src/components/code-toggle/code-toggle.js
  src/components/code-toggle/examples/basic.js
  src/components/contextless-android-activity-toggle/examples/basic.js
  src/components/contextless-ios-view-controller-toggle/examples/basic.js
  src/components/edit/edit.js
  src/components/feedback/__tests__/__snapshots__/feedback.test.js.snap
  src/components/feedback/feedback.js
  src/components/highlight/__tests__/highlight-test-cases.js
  src/components/highlight/examples/basic.js
  src/components/navigation-accordion/navigation-accordion.js
  src/components/numbered-code-snippet/examples/basic.js
  src/components/numbered-code-snippet/numbered-code-snippet.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/example-index.js
  src/components/related-page/vimeo.js
  src/components/search/search-box.js
  src/components/search/search.js
  src/components/toggleable-code-block/examples/basic.js
  src/components/toggleable-code-block/toggleable-code-block.js
Due: eslint, prettier --write

Clean up, add `docsPath`, and `outputDirectory`
  docs/batfish.config.js
  docs/src/pages/guides/batfish-helpers.md
  src/helpers/batfish/__tests__/sitemap.test.js
  src/helpers/batfish/sitemap.js
Due: eslint, prettier --write

Exclude `splitPage` from sitemap
  docs/batfish.config.js
  src/helpers/batfish/__tests__/fixtures/data.json
  src/helpers/batfish/__tests__/sitemap.test.js
  src/helpers/batfish/sitemap.js
Due: eslint, prettier --write

Assert sitemap
  .travis.yml
  src/helpers/batfish/__tests__/__snapshots__/sitemap.test.js.snap
  src/helpers/batfish/__tests__/sitemap.test.js
Due: eslint, prettier --write

Extract urls
  src/helpers/batfish/__tests__/__snapshots__/sitemap.test.js.snap
  src/helpers/batfish/__tests__/sitemap.test.js
Due: eslint, prettier --write

Sort sitemap
  src/helpers/batfish/__tests__/__snapshots__/sitemap.test.js.snap
  src/helpers/batfish/__tests__/sitemap.test.js
Due: eslint, prettier --write

Remove snapshot
  src/helpers/batfish/__tests__/__snapshots__/sitemap.test.js.snap
  src/helpers/batfish/__tests__/sitemap.test.js
Due: eslint, prettier --write

Update sitemap.test.js
  src/helpers/batfish/__tests__/sitemap.test.js
Due: eslint, prettier --write

Update batfish-helpers.md
  docs/src/pages/guides/batfish-helpers.md
Due: prettier --write

Copyedit
  docs/src/pages/guides/batfish-helpers.md
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Make more components pure
  src/components/android-layout-code-block/android-layout-code-block.js
  src/components/code-toggle/code-toggle.js
  src/components/contextless-android-activity-toggle/contextless-android-activity-toggle.js
  src/components/toggleable-code-block/toggleable-code-block.js
  src/helpers/create-redirect.js
Due: eslint, prettier --write

Make toggles interactive where possible
  src/components/code-snippet-title/examples/custom.js
  src/components/code-toggle/__tests__/__snapshots__/code-toggle.test.js.snap
  src/components/code-toggle/__tests__/code-toggle-test-cases.js
  src/components/code-toggle/examples/basic.js
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/contextless-android-activity-toggle-test-cases.js
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/contextless-ios-view-controller-toggle/__tests__/contextless-ios-view-controller-toggle-test-cases.js
  src/components/toggleable-code-block/examples/basic.js
Due: eslint, prettier --write

Make code toggles in test cases interactive or label if they are not (#432)
  src/components/code-snippet-title/examples/custom.js
  src/components/code-toggle/__tests__/__snapshots__/code-toggle.test.js.snap
  src/components/code-toggle/__tests__/code-toggle-test-cases.js
  src/components/code-toggle/examples/basic.js
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/contextless-android-activity-toggle-test-cases.js
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/contextless-ios-view-controller-toggle/__tests__/contextless-ios-view-controller-toggle-test-cases.js
  src/components/toggleable-code-block/examples/basic.js
Due: eslint, prettier --write

4.0.0-alpha.2
  package-lock.json
  package.json
Due: prettier --write

4.0.0-alpha.3
  package-lock.json
  package.json
Due: prettier --write

Update dependencies
  docs/src/pages/guides/page-layout.md
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/limitations.md
  docs/src/pages/guides/split-pages/sections/tag-debugger.md
  package-lock.json
  package.json
Due: prettier --write

Update rehype-slug
  package-lock.json
  package.json
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Fix links
  docs/src/pages/guides/batfish-helpers.md
  docs/src/pages/guides/multi-structured.md
  docs/src/pages/guides/page-layout.md
Due: prettier --write

Update page-layout.md
  docs/src/pages/guides/page-layout.md
Due: prettier --write

Update snapshots
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
Due: none

Update dependencies (#433)
  docs/src/pages/guides/batfish-helpers.md
  docs/src/pages/guides/multi-structured.md
  docs/src/pages/guides/page-layout.md
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/limitations.md
  docs/src/pages/guides/split-pages/sections/tag-debugger.md
  package-lock.json
  package.json
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write
