Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Update docs-prose.css
  src/css/docs-prose.css
Due: prettier --write

[Card/CardContainer] Add new styles for fullwidth cards
  src/components/card-container/card-container.js
  src/components/card/card.js
  src/components/examples-page/__tests__/examples-page-test-cases.js
Due: eslint, prettier --write

Add `contactLink` to populate a Contact us button in `OverviewHeader`
  src/components/overview-header/__tests__/overview-header-test-cases.js
  src/components/overview-header/overview-header.js
Due: eslint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: none

[OverviewHeader] Add `contactLink` to create Contact us button (#105)
  CHANGELOG.md
  src/components/overview-header/__tests__/overview-header-test-cases.js
  src/components/overview-header/overview-header.js
Due: eslint, prettier --write

Prepare 0.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

creates WarningImage
  src/components/note/__tests__/note-test-cases.js
  src/components/warning-image/index.js
  src/components/warning-image/warning-image.js
Due: eslint, prettier --write

adds margin-bottom, fixes https://github.com/mapbox/help/issues/1852
  src/components/note/note.js
Due: eslint, prettier --write

Create prism.css
  src/css/prism.css
Due: prettier --write

fix syntax error
  src/components/note/note.js
Due: eslint, prettier --write

Add prism.css to create shared syntax styles used commonly across sites (#108)
  CHANGELOG.md
  src/css/prism.css
Due: prettier --write

[Card/CardContainer] Add new styles for fullwidth cards (#104)
  CHANGELOG.md
  src/components/card-container/card-container.js
  src/components/card/card.js
  src/components/examples-page/__tests__/examples-page-test-cases.js
Due: eslint, prettier --write

Add CSS to set max-height and style scrollbars for prose code examples (#103)
  .lintstagedrc.json
  CHANGELOG.md
  src/css/docs-prose.css
Due: prettier --write

Update themes
  src/components/note/__tests__/note-test-cases.js
Due: eslint, prettier --write

simplify note options
  src/components/note/__tests__/note-test-cases.js
Due: eslint, prettier --write

replace `width` and `height` props for images with `size` since we always want these to be round
  src/components/book-image/book-image.js
  src/components/booklet-image/booklet-image.js
  src/components/contact-image/contact-image.js
  src/components/note/__tests__/note-test-cases.js
  src/components/troubleshoot-image/troubleshoot-image.js
  src/components/warning-image/warning-image.js
Due: eslint, prettier --write

Update note-test-cases.js
  src/components/note/__tests__/note-test-cases.js
Due: eslint, prettier --write

Add warning and error themes to `Note` (#102)
  CHANGELOG.md
  src/components/book-image/book-image.js
  src/components/booklet-image/booklet-image.js
  src/components/contact-image/contact-image.js
  src/components/note/__tests__/note-test-cases.js
  src/components/note/note.js
  src/components/troubleshoot-image/troubleshoot-image.js
  src/components/warning-image/index.js
  src/components/warning-image/warning-image.js
Due: eslint, prettier --write

Prepare 0.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

[SectionedNavigation] search description if available
  src/components/sectioned-navigation/__tests__/sectioned-navigation-test-cases.js
  src/components/sectioned-navigation/sectioned-navigation.js
Due: eslint, prettier --write

[SectionedNavigation] filter the description if it's available (#111)
  CHANGELOG.md
  src/components/sectioned-navigation/__tests__/sectioned-navigation-test-cases.js
  src/components/sectioned-navigation/sectioned-navigation.js
Due: eslint, prettier --write

add `mb24` to `OverviewHeader`
  src/components/overview-header/overview-header.js
Due: eslint, prettier --write

[docs-prose.css] only set max-height on code blocks if has `language-x` class
  src/css/docs-prose.css
Due: prettier --write

adds test cases
  src/components/page-layout/__tests__/page-layout-test-cases.js
Due: eslint, prettier --write

copy over docs-prose.css and prism.css to test-cases-app and `docs-content` id
  package.json
  src/test-cases-app/index.html
Due: none

add back styled scroll because those classes aren't exclusive
  src/css/docs-prose.css
Due: prettier --write

Add `mb24` to `OverviewHeader` (#112)
  CHANGELOG.md
  src/components/overview-header/overview-header.js
Due: eslint, prettier --write

[docs-prose.css] make `.prose pre` rules more specific (#113)
  CHANGELOG.md
  package.json
  src/components/page-layout/__tests__/page-layout-test-cases.js
  src/css/docs-prose.css
  src/test-cases-app/index.html
Due: eslint, prettier --write

Prepare 0.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add optional prop for tags for first level items in NavigationAccordion
  src/components/navigation-accordion/__tests__/navigation-accordion-test-cases.js
  src/components/navigation-accordion/navigation-accordion.js
Due: eslint, prettier --write

update changelog
  CHANGELOG.md
Due: none

Add optional prop for tags for first level items in NavigationAccordion (#115)
  CHANGELOG.md
  src/components/navigation-accordion/__tests__/navigation-accordion-test-cases.js
  src/components/navigation-accordion/navigation-accordion.js
Due: eslint, prettier --write

Prepare 0.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.css)
