Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Fix logic
  src/components/search/search-box.js
  src/components/search/search-provider.js
  src/components/search/search.js
Due: eslint, prettier --write

Update search.test.js.snap
  src/components/search/__tests__/__snapshots__/search.test.js.snap
Due: none

Define development babel env to prevent `@loadable/babel-plugin` from loading on start (because it fails)
  babel.config.js
  package.json
Due: eslint, prettier --write

Adjusting snapshots
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-facade.js
Due: eslint, prettier --write

Revert "Adjusting snapshots"
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-facade.js
Due: eslint, prettier --write

Clean up props
  src/components/search/search-facade.js
Due: eslint, prettier --write

Comments
  src/components/search/search.js
Due: eslint, prettier --write

Reduce changes
  src/components/search/search-box.js
Due: eslint, prettier --write

Reduce changes
  src/components/search/search-box.js
  src/components/search/search-modal.js
Due: eslint, prettier --write

Clean up props
  src/components/search/search-box.js
  src/components/search/search-provider.js
Due: eslint, prettier --write

Use SearchInput in SearchBox
  src/components/search/search-box.js
  src/components/search/search-facade.js
Due: eslint, prettier --write

Use SearchButton in SearchBox
  src/components/search/search-box.js
  src/components/search/search-facade.js
Due: eslint, prettier --write

Add missing props
  src/components/search/search-box.js
  src/components/search/search-facade.js
Due: eslint, prettier --write

Consolidate wrapper
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-facade.js
  src/components/search/search-provider.js
  src/components/search/search.js
Due: eslint, prettier --write

4.0.0-alpha.4
  package-lock.json
  package.json
Due: prettier --write

Try dynamic import
  babel.config.js
  package-lock.json
  package.json
  src/components/search/search.js
Due: eslint, prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

4.0.0-alpha.5
  package-lock.json
  package.json
Due: prettier --write

Expand a code color contrast improvement
  docs/src/pages/guides/a11y.md
  src/css/docs-prose.css
Due: prettier --write

Increase color contrast on .color-gray code
  docs/src/pages/guides/a11y.md
  src/css/docs-prose.css
Due: prettier --write

Increase color contrast for prism's .token.regex,.token.important
  docs/src/pages/guides/a11y.md
  src/components/highlight/theme-css.js
  src/css/prism.css
Due: eslint, prettier --write

Clean up test cases
  docs/src/pages/guides/a11y.md
Due: prettier --write

Add eslint-plugin-jsx-a11y
  package-lock.json
  package.json
  src/.eslintrc.json
  src/components/numbered-code-snippet/__tests__/__snapshots__/numbered-code-snippet.test.js.snap
  src/components/numbered-code-snippet/show-hide-lines.js
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/__tests__/overview-header-test-cases.js
  src/components/overview-header/examples/basic.js
  src/components/overview-header/examples/custom.js
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/related-page.js
  src/components/related-page/vimeo.js
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/__tests__/results.js
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
Due: eslint, prettier --write

Fix props
  src/components/search/__tests__/results.js
Due: eslint, prettier --write

Update docs/src/pages/guides/a11y.md
  docs/src/pages/guides/a11y.md
Due: prettier --write

Reduce changes
  src/components/tag/tag.js
Due: eslint, prettier --write

Improve color contrast on code and anchor elements (#434)
  CHANGELOG.md
  docs/src/pages/guides/a11y.md
  src/components/highlight/theme-css.js
  src/css/docs-prose.css
  src/css/prism.css
Due: eslint, prettier --write

:wrench: Run prettier
  CONTRIBUTING.md
  src/components/tag/tag.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: ((((any of: *.js) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yml)
