Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

remove calls to mr-ui getWindow util
  src/components/search/search-modal.js
Due: eslint, prettier --write

remove calls to mr-ui getWindow util (#607)
  src/components/search/search-modal.js
Due: eslint, prettier --write

prepare v6.0.1
  CHANGELOG.md
Due: prettier --write

6.0.1
  package-lock.json
  package.json
Due: prettier --write

add IndexCard, helpCardData, build a card mode for OverviewHeader
  src/components/index-card/index-card.js
  src/components/index-card/index.js
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/__tests__/overview-header-test-cases.js
  src/components/overview-header/overview-header.js
  src/helpers/help-card-data.js
Due: eslint, prettier --write

add index-card tests
  src/components/index-card/__tests__/__snapshots__/index-card.test.js.snap
  src/components/index-card/__tests__/index-card-test-cases.js
  src/components/index-card/__tests__/index-card.test.js
  src/components/index-card/examples/basic.js
  src/components/index-card/index-card.js
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/overview-header.js
  src/helpers/help-card-data.js
Due: eslint, prettier --write

Update src/components/overview-header/overview-header.js
  src/components/overview-header/overview-header.js
Due: eslint, prettier --write

add IndexCard, helpCardData, build a card mode for OverviewHeader (#608)
  src/components/index-card/__tests__/__snapshots__/index-card.test.js.snap
  src/components/index-card/__tests__/index-card-test-cases.js
  src/components/index-card/__tests__/index-card.test.js
  src/components/index-card/examples/basic.js
  src/components/index-card/index-card.js
  src/components/index-card/index.js
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/__tests__/overview-header-test-cases.js
  src/components/overview-header/overview-header.js
  src/helpers/help-card-data.js
Due: eslint, prettier --write

prepare v6.1.0
  CHANGELOG.md
Due: prettier --write

6.1.0
  package-lock.json
  package.json
Due: prettier --write

Pass in GettingStartedIcon instance to OverviewHeader test case
  src/components/overview-header/__tests__/overview-header-test-cases.js
Due: eslint, prettier --write

Use index for key in Breadcrumb
  src/components/breadcrumb/breadcrumb.js
Due: eslint, prettier --write

Add code block toggle for gradle configurations
  docs/src/categories.json
  src/components/contextless-gradle-config-toggle/.vscode/settings.json
  src/components/contextless-gradle-config-toggle/__tests__/__snapshots__/contextless-gradle-config-toggle.test.js.snap
  src/components/contextless-gradle-config-toggle/__tests__/contextless-gradle-config-toggle-test-cases.js
  src/components/contextless-gradle-config-toggle/__tests__/contextless-gradle-config-toggle.test.js
  src/components/contextless-gradle-config-toggle/__tests__/find-selected-code.test.js
  src/components/contextless-gradle-config-toggle/contextless-gradle-config-toggle.js
  src/components/contextless-gradle-config-toggle/examples/basic.js
  src/components/contextless-gradle-config-toggle/index.js
Due: eslint, prettier --write

Reorder Kotlin first
  src/components/contextless-gradle-config-toggle/__tests__/__snapshots__/contextless-gradle-config-toggle.test.js.snap
  src/components/contextless-gradle-config-toggle/contextless-gradle-config-toggle.js
  src/components/contextless-gradle-config-toggle/examples/basic.js
Due: eslint, prettier --write

style index card title/tag for proper vertical spacing when wrapped
  src/components/index-card/__tests__/__snapshots__/index-card.test.js.snap
  src/components/index-card/index-card.js
Due: eslint, prettier --write

update search modal background to match mr-ui/modal
  src/components/search/search-modal.js
Due: eslint, prettier --write

export cardboxshadow from index-card
  src/components/index-card/index.js
Due: eslint, prettier --write

Feedback Component Improvements
  src/components/feedback/__tests__/__snapshots__/categories.test.js.snap
  src/components/feedback/__tests__/__snapshots__/confirmation.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/feedback.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/__tests__/categories.test.js
  src/components/feedback/__tests__/close.test.js
  src/components/feedback/__tests__/confirmation.test.js
  src/components/feedback/__tests__/contact-support.test.js
  src/components/feedback/__tests__/disable-sentry.test.js
  src/components/feedback/__tests__/logged-in.test.js
  src/components/feedback/categories.js
  src/components/feedback/components/category-confusing.js
  src/components/feedback/components/category-like.js
  src/components/feedback/components/category-problem.js
  src/components/feedback/components/forms.js
  src/components/feedback/components/icons.js
  src/components/feedback/components/options-list.js
  src/components/feedback/feedback.js
  src/components/feedback/get-options-data.js
  src/components/feedback/segment.js
  src/components/feedback/sentry.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
Due: eslint, prettier --write

add an id to top-level buttons for test selection
  src/components/feedback/__tests__/__snapshots__/feedback.test.js.snap
  src/components/feedback/__tests__/confirmation.test.js
  src/components/feedback/__tests__/disable-sentry.test.js
  src/components/feedback/__tests__/logged-in.test.js
  src/components/feedback/feedback.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: eslint, prettier --write

Refactor feedback component (#606)
  src/components/feedback/__tests__/__snapshots__/categories.test.js.snap
  src/components/feedback/__tests__/__snapshots__/confirmation.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/feedback.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/__tests__/categories.test.js
  src/components/feedback/__tests__/close.test.js
  src/components/feedback/__tests__/confirmation.test.js
  src/components/feedback/__tests__/contact-support.test.js
  src/components/feedback/__tests__/disable-sentry.test.js
  src/components/feedback/__tests__/logged-in.test.js
  src/components/feedback/categories.js
  src/components/feedback/components/category-confusing.js
  src/components/feedback/components/category-like.js
  src/components/feedback/components/category-problem.js
  src/components/feedback/components/forms.js
  src/components/feedback/components/icons.js
  src/components/feedback/components/options-list.js
  src/components/feedback/feedback.js
  src/components/feedback/get-options-data.js
  src/components/feedback/segment.js
  src/components/feedback/sentry.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
Due: eslint, prettier --write

update search modal background to match mr-ui/modal (#612)
  src/components/search/search-modal.js
Due: eslint, prettier --write

style index card title/tag for proper vertical spacing when wrapped (#611)
  src/components/index-card/__tests__/__snapshots__/index-card.test.js.snap
  src/components/index-card/index-card.js
Due: eslint, prettier --write

fix breadcrumb key (#610)
  src/components/breadcrumb/breadcrumb.js
  src/components/overview-header/__tests__/overview-header-test-cases.js
Due: eslint, prettier --write

prepare v6.2.0
  CHANGELOG.md
Due: prettier --write

6.2.0
  package-lock.json
  package.json
Due: prettier --write

Logging & spreading contentType
  src/components/feedback/feedback.js
  src/components/page-layout/components/content.js
Due: eslint, prettier --write

Added check for contentType
  src/components/page-layout/components/content.js
Due: eslint, prettier --write

Removed logging
  src/components/feedback/feedback.js
  src/components/page-layout/components/content.js
Due: eslint, prettier --write

Remove un-needed type declaration
  src/components/page-layout/components/content.js
Due: eslint, prettier --write

Updated jest snapshot for page-layout.test
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: none

Andrew/add playground type To Feedback Component (#620)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
Due: eslint, prettier --write

update dependencies
  .copyeditorrc
  .eslintrc.json
  docs/local.dic
  docs/src/pages/guides/batfish-helpers.md
  package-lock.json
  package.json
  scripts/build-docs-data.js
Due: eslint, prettier --write

add mjs webpack loader
  docs/batfish.config.js
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

update dependencies (#624)
  .copyeditorrc
  .eslintrc.json
  docs/batfish.config.js
  docs/local.dic
  docs/src/pages/guides/batfish-helpers.md
  package-lock.json
  package.json
  scripts/build-docs-data.js
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

Prepare v6.3.0
  CHANGELOG.md
Due: prettier --write

6.3.0
  package-lock.json
  package.json
Due: prettier --write
