Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write", "git add"],
  "*.css": ["prettier --write", "git add"]
}

replace `description` with children and make it required
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/__tests__/related-page-test-cases.js
  src/components/related-page/__tests__/related-page.test.js
  src/components/related-page/related-page.js
Due: eslint, prettier --write

make sure vimeoThumbnail and vimeoId only works with video
  src/components/related-page/__tests__/related-page-test-cases.js
  src/components/related-page/related-page.js
Due: eslint, prettier --write

make thumbnail slightly larger
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/related-page.js
  src/components/related-page/vimeo.js
Due: eslint, prettier --write

adjust breakpoints
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/related-page.js
  src/components/related-page/vimeo.js
Due: eslint, prettier --write

more adjustments
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/related-page.js
Due: eslint, prettier --write

adjustments
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/related-page.js
Due: eslint, prettier --write

use classnames to handle conditinal classes
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/related-page.js
Due: eslint, prettier --write

add height for ie11
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/vimeo.js
Due: eslint, prettier --write

remove fill option from VimeoPlayImage
  src/components/related-page/related-page.js
  src/components/related-page/vimeo.js
Due: eslint, prettier --write

remove `image` option from Note
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/note/__tests__/note-test-cases.js
  src/components/note/__tests__/note.test.js
  src/components/note/note.js
Due: eslint, prettier --write

add background color for `pre` in dr-ui note; make slight color adjustments for accessbility
  src/components/highlight/theme-css.js
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/note/__tests__/note-test-cases.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/themes/themes.js
  src/css/docs-prose.css
  src/css/prism.css
Due: eslint, prettier --write

Update note.test.js.snap
  src/components/note/__tests__/__snapshots__/note.test.js.snap
Due: none

Update theme-css.js
  src/components/highlight/theme-css.js
Due: eslint, prettier --write

Accessibility score in Chrome Developer Tools Audit/Lighthouse is 100%.
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update docs-prose.css
  src/css/docs-prose.css
Due: prettier --write

Update PR checklist to include Accessibility/Lighthouse score (#241)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fixes overflow issue in IE11 for RelatedPage (#238)
  CHANGELOG.md
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/related-page.js
Due: eslint, prettier --write

add bottom padding to modal
  src/components/related-page/vimeo.js
Due: eslint, prettier --write

remove mt on vimeo thumbnail
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/related-page.js
Due: eslint, prettier --write

Update related-page.test.js.snap
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
Due: none

Create vimeo modal option for RelatedPage (#236)
  CHANGELOG.md
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/__tests__/related-page-test-cases.js
  src/components/related-page/__tests__/related-page.test.js
  src/components/related-page/related-page.js
  src/components/related-page/vimeo.js
  src/test-cases-app/assets/vimeo_thumb.jpg
Due: eslint, prettier --write

make PlaygroundImage its own component
  src/components/playground-image/__tests__/__snapshots__/playground-image.test.js.snap
  src/components/playground-image/__tests__/playground-image-test-cases.js
  src/components/playground-image/__tests__/playground-image.test.js
  src/components/playground-image/index.js
  src/components/playground-image/playground-image.js
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/related-page.js
Due: eslint, prettier --write

Merge branch 'master' into relatedpage-children
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/__tests__/related-page-test-cases.js
  src/components/related-page/__tests__/related-page.test.js
  src/components/related-page/related-page.js
  src/components/related-page/vimeo.js
  src/test-cases-app/assets/vimeo_thumb.jpg
Due: eslint, prettier --write

create playground theme for RelatedPage (#234)
  CHANGELOG.md
  src/components/playground-image/__tests__/__snapshots__/playground-image.test.js.snap
  src/components/playground-image/__tests__/playground-image-test-cases.js
  src/components/playground-image/__tests__/playground-image.test.js
  src/components/playground-image/index.js
  src/components/playground-image/playground-image.js
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/__tests__/related-page-test-cases.js
  src/components/related-page/__tests__/related-page.test.js
  src/components/related-page/related-page.js
Due: eslint, prettier --write

replace `description` with children and make it required in RelatedPage (#239)
  CHANGELOG.md
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/__tests__/related-page-test-cases.js
  src/components/related-page/__tests__/related-page.test.js
  src/components/related-page/related-page.js
Due: eslint, prettier --write

fix contrast on .token.string
  src/components/highlight/theme-css.js
  src/css/prism.css
Due: eslint, prettier --write

Remove `image` option from Note; color contrast updates for Note children (#240)
  CHANGELOG.md
  src/components/highlight/theme-css.js
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/note/__tests__/note-test-cases.js
  src/components/note/__tests__/note.test.js
  src/components/note/note.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/themes/themes.js
  src/css/docs-prose.css
  src/css/prism.css
Due: eslint, prettier --write

Prepare 0.26.0
  CHANGELOG.md
Due: none

0.26.0
  package-lock.json
  package.json
Due: none

Prepare 0.26.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

sent character limit for `Feedback` textarea
  src/components/feedback/feedback.js
Due: eslint, prettier --write

add tests
  package-lock.json
  package.json
  src/components/feedback/__tests__/feedback.test.js
  src/components/feedback/feedback.js
Due: eslint, prettier --write
