Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

wip: experimenting with swiftype related content module
  babel.config.json
  src/components/page-layout/components/content.js
Due: eslint, prettier --write

restore babel present-env options
  babel.config.json
Due: prettier --write

restore babel present-env options (#570)
  babel.config.json
Due: prettier --write

prepare v5.2.1
  CHANGELOG.md
Due: prettier --write

5.2.1
  package-lock.json
  package.json
Due: prettier --write

rollback react-search-ui dependencies to 1.7.0
  package-lock.json
  package.json
  src/components/search/search-box.js
Due: eslint, prettier --write

rollback react-search-ui dependencies to 1.7.0 (#572)
  package-lock.json
  package.json
  src/components/search/search-box.js
Due: eslint, prettier --write

prepare v5.2.2
  CHANGELOG.md
Due: prettier --write

5.2.2
  package-lock.json
  package.json
Due: prettier --write

Prepare 5.2.3
  CHANGELOG.md
  src/components/note/note.js
Due: eslint, prettier --write

5.2.3
  package-lock.json
  package.json
Due: prettier --write

Remove changelog & version change, update tests
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/demo-iframe/__tests__/__snapshots__/demo-iframe.test.js.snap
  src/components/error-boundary/__tests__/__snapshots__/error-boundary.test.js.snap
  src/components/map-wrapper/__tests__/__snapshots__/map-wrapper.test.js.snap
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
Due: prettier --write

fix packagelock
  package-lock.json
Due: prettier --write

Update 5.2.3 (#574)
  src/components/demo-iframe/__tests__/__snapshots__/demo-iframe.test.js.snap
  src/components/error-boundary/__tests__/__snapshots__/error-boundary.test.js.snap
  src/components/map-wrapper/__tests__/__snapshots__/map-wrapper.test.js.snap
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/note/note.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
Due: eslint, prettier --write

update changelog for 5.2.3
  CHANGELOG.md
Due: prettier --write

update tag design, add CeraPRO font to test app and docs
  docs/src/css/site.css
  src/components/error-boundary/__tests__/__snapshots__/error-boundary.test.js.snap
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/note/__tests__/note-test-cases.js
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/tag/examples/custom.js
  src/components/tag/tag.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/themes/__tests__/themes.test.js
  src/components/themes/themes.js
  src/test-cases-app/index.html
Due: eslint, prettier --write

add placeholder prop on search box
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/__tests__/search-test-cases.js
  src/components/search/search-box.js
Due: eslint, prettier --write

add bottom padding to filter sidebar menu
  src/components/page-layout/components/example-index.js
Due: eslint, prettier --write

adjust sticky sidebars to fit new fixed header
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/sidebar.js
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
Due: eslint, prettier --write

search style tweaks
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/sidebar.js
  src/components/page-layout/page-layout.js
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-box.js
  src/components/search/search-modal.js
  src/components/search/search.js
Due: eslint, prettier --write

tweak layout, style search, add loading spinners to search
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/page-layout.js
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-box.js
  src/components/search/search-modal.js
  src/components/search/search.js
Due: eslint, prettier --write

use mbx-assembly-docs
  docs/batfish.config.js
  docs/src/components/wrapper.js
  docs/src/css/site.css
  package-lock.json
  package.json
  scripts/deploy-to-staging.sh
  src/test-cases-app/index.html
Due: eslint, prettier --write

use txt-fancy, update search button styles
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/search-box.js
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/tag/tag.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
Due: eslint, prettier --write

remove staging script
  scripts/deploy-to-staging.sh
Due: none

bump mbx-assembly-docs
  package-lock.json
  package.json
Due: prettier --write

Docs Landing Page Redesign (#591)
  docs/batfish.config.js
  docs/src/components/wrapper.js
  package-lock.json
  package.json
  src/components/error-boundary/__tests__/__snapshots__/error-boundary.test.js.snap
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/note/__tests__/note-test-cases.js
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/example-index.js
  src/components/page-layout/components/sidebar.js
  src/components/page-layout/page-layout.js
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/__tests__/search-test-cases.js
  src/components/search/search-box.js
  src/components/search/search-modal.js
  src/components/search/search.js
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/tag/examples/custom.js
  src/components/tag/tag.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/themes/__tests__/themes.test.js
  src/components/themes/themes.js
  src/test-cases-app/index.html
Due: eslint, prettier --write

prepare v5.3.0
  CHANGELOG.md
Due: prettier --write

5.3.0
  package-lock.json
  package.json
Due: prettier --write

adjust onthispage topoffset to account for sticky header
  src/components/on-this-page/on-this-page.js
Due: eslint, prettier --write

Create Plugins component
  package-lock.json
  package.json
  src/components/md/__tests__/md-test-cases.js
  src/components/md/__tests__/md.test.js
  src/components/md/examples/basic.js
  src/components/md/index.js
  src/components/md/md.js
  src/components/plugins/__tests__/plugins-test-cases.js
  src/components/plugins/__tests__/plugins.test.js
  src/components/plugins/examples/basic.js
  src/components/plugins/index.js
  src/components/plugins/plugins.js
Due: eslint, prettier --write

props
  package-lock.json
  package.json
  src/components/plugins/plugins.js
Due: eslint, prettier --write

isRequired
  src/components/plugins/plugins.js
Due: eslint, prettier --write

adjust onthispage topoffset to account for sticky header (#594)
  src/components/on-this-page/on-this-page.js
Due: eslint, prettier --write

prevent sticky sidebar from moving on scroll
  src/components/page-layout/components/sidebar.js
Due: eslint, prettier --write

add top padding to tag
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/tag/tag.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: ((((any of: *.js) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yml)
