Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

remove classes with position: sticky
  src/css/docs-prose.css
Due: prettier --write

spacing fix
  src/css/docs-prose.css
Due: prettier --write

replace limiter class
  src/components/on-this-page/examples/basic.js
Due: eslint, prettier --write

replace limiter--wide class
  src/css/docs-prose.css
Due: prettier --write

remove unused txt-spacing0 class
  src/css/docs-prose.css
Due: prettier --write

update limiter--wide class
  src/components/page-layout/page-layout.js
Due: eslint, prettier --write

remove fr-ui--feedback color-gray from docs-prose.css
  src/css/docs-prose.css
Due: prettier --write

remove color-gray code class
  src/css/docs-prose.css
Due: prettier --write

scroll-auto → overflow-auto
  src/css/docs-prose.css
Due: prettier --write

remove double selectors
  src/css/docs-prose.css
Due: prettier --write

Fix issue in `NavigationAccordion` to handle pages that do not have a parent (#479)
  CHANGELOG.md
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/__tests__/navigation-accordion-test-cases.js
  src/components/navigation-accordion/__tests__/navigation-accordion.test.js
  src/components/navigation-accordion/navigation-accordion.js
Due: eslint, prettier --write

4.2.2
  package-lock.json
  package.json
Due: prettier --write

add back heading prose selectors
  src/css/docs-prose.css
Due: prettier --write

add mr-ui back as peerdependency
  package.json
Due: prettier --write

update snapshots
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/on-this-page/__tests__/__snapshots__/on-this-page.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: none

update package lock
  package-lock.json
Due: prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

Update Assembly v1, remove unneeded classes
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/level-indicator/__tests__/__snapshots__/level-indicator.test.js.snap
  src/components/level-indicator/level-indicator.js
Due: eslint, prettier --write

Remove unused align-middle class
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/level-indicator/__tests__/__snapshots__/level-indicator.test.js.snap
  src/components/level-indicator/level-indicator.js
Due: eslint, prettier --write

make w70 inline
  src/components/browser/browser.js
Due: eslint, prettier --write

update snapshots
  src/components/browser/__tests__/__snapshots__/browser.test.js.snap
Due: none

updae package-lock.json
  package-lock.json
Due: prettier --write

update package-lock.json with assembly-v1-update branch
  package-lock.json
Due: prettier --write

add check to check if fileTType is GeoJSON
  src/components/download-button/__tests__/download-button-test-cases.js
  src/components/download-button/download-button.js
Due: eslint, prettier --write

add sample.geojson file
  src/test-cases-app/files/sample.geojson
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Prevent level squares from shrinking
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/level-indicator/__tests__/__snapshots__/level-indicator.test.js.snap
  src/components/level-indicator/level-indicator.js
Due: eslint, prettier --write

LevelIndicator (#482)
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/level-indicator/__tests__/__snapshots__/level-indicator.test.js.snap
  src/components/level-indicator/level-indicator.js
Due: eslint, prettier --write

[Assembly v1] BackToTopButton
  src/components/back-to-top-button/__tests__/__snapshots__/back-to-top-button.test.js.snap
  src/components/back-to-top-button/back-to-top-button.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: eslint, prettier --write

Update src/components/browser/browser.js
  src/components/browser/browser.js
Due: eslint, prettier --write

update browser snapshot
  src/components/browser/__tests__/__snapshots__/browser.test.js.snap
Due: none

[Assembly v1] Browser (#483)
  src/components/browser/__tests__/__snapshots__/browser.test.js.snap
  src/components/browser/browser.js
Due: eslint, prettier --write

Fix DownloadButton for GeoJSON (#484)
  src/components/download-button/__tests__/download-button-test-cases.js
  src/components/download-button/download-button.js
  src/test-cases-app/files/sample.geojson
Due: eslint, prettier --write

4.2.3
  package-lock.json
  package.json
Due: prettier --write

[Assembly v1] BackToTopButton (#486)
  src/components/back-to-top-button/__tests__/__snapshots__/back-to-top-button.test.js.snap
  src/components/back-to-top-button/back-to-top-button.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: eslint, prettier --write

Updates
  assets/dr-ui-changelog-37ea5b60a57af50553fb.chunk.js
  assets/dr-ui-changelog-cd78aa04a29d0c2e3546.chunk.js
  assets/dr-ui-changelog~dr-ui-examples~dr-ui-examples-example-1~dr-ui-examples-example-2~dr-ui-examples-exam~0337dc2a-715848f847f774c4d10b.chunk.js
  assets/dr-ui-changelog~dr-ui-examples~dr-ui-examples-example-1~dr-ui-examples-example-2~dr-ui-examples-exam~0337dc2a-f007d4ba8c22d74d7037.chunk.js
  assets/dr-ui-components-17bbf0a2a20372b93118.chunk.js
  assets/dr-ui-components-cffffbe016c759fa1fae.chunk.js
  assets/dr-ui-guides-batfish-helpers-13f2e778a92e6959e8bf.chunk.js
  assets/dr-ui-guides-batfish-helpers-56b94e0417aaeb7c8f93.chunk.js
  assets/dr-ui-guides-page-layout-03c6dfe7797cdc5037e3.chunk.js
  assets/dr-ui-guides-page-layout-15fc32757452632babba.chunk.js
  assets/dr-ui-guides-split-pages-83334021ea94f57c3a46.chunk.js
  assets/dr-ui-guides-split-pages-c774e8d3c5cdabcb67b6.chunk.js
  assets/manifest-40af380031150098d0d0.js
  assets/manifest-ad5270bd5b524021fff3.js
  changelog/index.html
  components/index.html
  examples/example-1/index.html
  examples/example-2/index.html
  examples/example-3/index.html
  examples/example-4/index.html
  examples/example-5/index.html
  examples/index.html
  files/sample.geojson
  guides/a11y/index.html
  guides/batfish-helpers/index.html
  guides/grouped-guides/file-structure/index.html
  guides/grouped-guides/frontmatter/index.html
  guides/grouped-guides/index.html
  guides/grouped-guides/resulting-ui/index.html
  guides/index.html
  guides/multi-structured/index.html
  guides/page-layout/index.html
  guides/split-pages/index.html
  guides/split-pages/sections/how-to/index.html
  guides/split-pages/sections/intro/index.html
  guides/split-pages/sections/limitations/index.html
  guides/split-pages/sections/tag-debugger/index.html
  index.html
  sitemap.xml
Due: eslint, prettier --write

[Assembly v1] Themes, Note, Tag
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/demo-iframe/__tests__/__snapshots__/demo-iframe.test.js.snap
  src/components/error-boundary/__tests__/__snapshots__/error-boundary.test.js.snap
  src/components/map-wrapper/__tests__/__snapshots__/map-wrapper.test.js.snap
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/__tests__/navigation-accordion-test-cases.js
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/note/note.js
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/__tests__/overview-header-test-cases.js
  src/components/overview-header/overview-header.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/product-menu/__tests__/product-menu-test-cases.js
  src/components/product-menu/product-menu.js
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/tag/examples/custom.js
  src/components/tag/tag.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/themes/__tests__/themes-test-cases.js
  src/components/themes/__tests__/themes.test.js
  src/components/themes/themes.js
  src/css/docs-prose.css
Due: eslint, prettier --write
