Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

CSS fixes (#596)
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/sidebar.js
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/tag/tag.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
Due: eslint, prettier --write

dependencies
  package-lock.json
  package.json
Due: prettier --write

for chris
  src/components/plugins/examples/basic.js
  src/components/plugins/plugins.js
Due: eslint, prettier --write

tidy up plugins component
  src/components/md/index.js
  src/components/plugins/examples/basic.js
  src/components/plugins/index.js
  src/components/plugins/plugins.js
Due: eslint, prettier --write

restore theme color classnames
  src/components/error-boundary/__tests__/__snapshots__/error-boundary.test.js.snap
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/tag/tag.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/themes/themes.js
Due: eslint, prettier --write

cOMPONeNT shouLD Be WritteN As A purE fuNCTiON
  src/components/md/examples/basic.js
Due: eslint, prettier --write

make tests pristine
  src/components/md/__tests__/__snapshots__/md.test.js.snap
  src/components/plugins/__tests__/__snapshots__/plugins.test.js.snap
Due: none

and im
  docs/src/categories.json
Due: prettier --write

improve sidebar and aside scroll UX
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/sidebar.js
  src/components/page-layout/page-layout.js
  src/css/docs-prose.css
Due: eslint, prettier --write

restore theme color classnames (#597)
  src/components/error-boundary/__tests__/__snapshots__/error-boundary.test.js.snap
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/tag/tag.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/themes/themes.js
Due: eslint, prettier --write

improve sidebar and aside scroll UX (#598)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/sidebar.js
  src/components/page-layout/page-layout.js
  src/css/docs-prose.css
Due: eslint, prettier --write

Create Plugins component (#595)
  docs/src/categories.json
  package-lock.json
  package.json
  src/components/md/__tests__/__snapshots__/md.test.js.snap
  src/components/md/__tests__/md-test-cases.js
  src/components/md/__tests__/md.test.js
  src/components/md/examples/basic.js
  src/components/md/index.js
  src/components/md/md.js
  src/components/plugins/__tests__/__snapshots__/plugins.test.js.snap
  src/components/plugins/__tests__/plugins-test-cases.js
  src/components/plugins/__tests__/plugins.test.js
  src/components/plugins/examples/basic.js
  src/components/plugins/index.js
  src/components/plugins/plugins.js
Due: eslint, prettier --write

prepare v5.4.0
  CHANGELOG.md
Due: prettier --write

5.4.0
  package-lock.json
  package.json
Due: prettier --write

improve the bulk pr script
  CONTRIBUTING.md
  scripts/target-repositories.json
  scripts/update-dr-ui-all.sh
Due: prettier --write

update theme colors
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/tag/tag.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/themes/themes.js
Due: eslint, prettier --write

add local development instructions to CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Add common css for bulleted lists
  src/css/docs-prose.css
Due: prettier --write

fix tests
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
Due: none

improve the bulk pr script (#600)
  CONTRIBUTING.md
  scripts/target-repositories.json
  scripts/update-dr-ui-all.sh
Due: prettier --write

Update theme colors (#602)
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/tag/tag.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/themes/themes.js
Due: eslint, prettier --write

Common list decoration (#603)
  CONTRIBUTING.md
  src/css/docs-prose.css
Due: prettier --write

Prepare v5.5.0
  CHANGELOG.md
Due: prettier --write

5.5.0
  package-lock.json
  package.json
Due: prettier --write

wip: add VideoModal component
  src/components/video-modal/__tests__/video-modal-test-cases.js
  src/components/video-modal/examples/basic.js
  src/components/video-modal/index.js
Due: eslint, prettier --write

wip: get the new component to show in the dr-ui docs
  docs/src/categories.json
  src/components/video-modal/index.js
  src/components/video-modal/video-modal.js
Due: eslint, prettier --write

update RelatedPage for videos to use YouTube instead of Vimeo
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/__tests__/related-page-test-cases.js
  src/components/related-page/__tests__/related-page.test.js
  src/components/related-page/examples/video.js
  src/components/related-page/related-page.js
  src/components/related-page/video.js
  src/components/video/video.js
Due: eslint, prettier --write

update mr-ui to 2.7.0
  package-lock.json
  package.json
Due: prettier --write

make videomodal dimensions depend on viewport
  src/components/video-modal/video-modal.js
Due: eslint, prettier --write

update relatedpage snapshot
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
Due: none

Support youtube videos in RelatedPage (#604)
  docs/src/categories.json
  package-lock.json
  package.json
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/__tests__/related-page-test-cases.js
  src/components/related-page/__tests__/related-page.test.js
  src/components/related-page/examples/video.js
  src/components/related-page/related-page.js
  src/components/related-page/video.js
  src/components/video-modal/__tests__/video-modal-test-cases.js
  src/components/video-modal/examples/basic.js
  src/components/video-modal/index.js
  src/components/video-modal/video-modal.js
  src/components/video/video.js
Due: eslint, prettier --write

reduce video modal % width, refactor styling
  src/components/video-modal/video-modal.js
Due: eslint, prettier --write

update aspect ratio
  src/components/video-modal/video-modal.js
Due: eslint, prettier --write

update video modal (#605)
  src/components/video-modal/video-modal.js
Due: eslint, prettier --write

prepare v6.0.0
  CHANGELOG.md
Due: prettier --write

6.0.0
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: ((((any of: *.js) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yml)
