Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

[Assembly v1] Phone
  src/components/phone/__tests__/__snapshots__/phone.test.js.snap
  src/components/phone/phone.js
Due: eslint, prettier --write

Fix border-radius on iOS/Safari by adding overflow-hidden and z-index
  src/components/phone/__tests__/__snapshots__/phone.test.js.snap
  src/components/phone/phone.js
Due: eslint, prettier --write

Update background
  src/components/phone/__tests__/__snapshots__/phone.test.js.snap
  src/components/phone/phone.js
Due: eslint, prettier --write

[Assembly v1] Card
  src/components/card-container/__tests__/__snapshots__/card-container.test.js.snap
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/card/card.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: eslint, prettier --write

Update snapshots
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: none

codemode updates
  src/components/code-snippet-title/code-snippet-title.js
Due: eslint, prettier --write

update snapshot
  src/components/code-snippet-title/__tests__/__snapshots__/code-snippet-title.test.js.snap
Due: none

update all snapshots
  src/components/android-layout-code-block/__tests__/__snapshots__/android-layout-code-block.test.js.snap
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
Due: none

[Assembly v1] Themes, Note, Tag (#487)
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/demo-iframe/__tests__/__snapshots__/demo-iframe.test.js.snap
  src/components/error-boundary/__tests__/__snapshots__/error-boundary.test.js.snap
  src/components/map-wrapper/__tests__/__snapshots__/map-wrapper.test.js.snap
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/__tests__/navigation-accordion-test-cases.js
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/note/note.js
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/__tests__/overview-header-test-cases.js
  src/components/overview-header/overview-header.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/product-menu/__tests__/product-menu-test-cases.js
  src/components/product-menu/product-menu.js
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/tag/examples/custom.js
  src/components/tag/tag.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/themes/__tests__/themes-test-cases.js
  src/components/themes/__tests__/themes.test.js
  src/components/themes/themes.js
  src/css/docs-prose.css
Due: eslint, prettier --write

codemod changes
  src/components/code-snippet-title/code-snippet-title.js
Due: eslint, prettier --write

update snapshots
  src/components/android-layout-code-block/__tests__/__snapshots__/android-layout-code-block.test.js.snap
  src/components/code-snippet-title/__tests__/__snapshots__/code-snippet-title.test.js.snap
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
Due: none

update snapshot
  src/components/breadcrumb/__tests__/__snapshots__/breadcrumb.test.js.snap
  src/components/breadcrumb/breadcrumb.js
Due: eslint, prettier --write

[Assembly v1] Card (#489)
  src/components/card-container/__tests__/__snapshots__/card-container.test.js.snap
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/card/card.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: eslint, prettier --write

[Assembly v1] CardContainer
  CHANGELOG.md
  src/components/card-container/__tests__/__snapshots__/card-container.test.js.snap
  src/components/card-container/card-container.js
  src/components/card-container/examples/cols.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/example-index.js
  src/components/page-layout/page-layout.js
Due: eslint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Prove bug
  src/components/navigation-accordion/__tests__/navigation-accordion.test.js
Due: eslint, prettier --write

Fix bug
  src/components/navigation-accordion/__tests__/navigation-accordion.test.js
  src/components/navigation-accordion/navigation-accordion.js
Due: eslint, prettier --write

Add comment
  src/components/navigation-accordion/__tests__/navigation-accordion.test.js
Due: eslint, prettier --write

Comments!
  src/components/navigation-accordion/__tests__/navigation-accordion.test.js
Due: eslint, prettier --write

update snapshots from assembly-v1-update
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: none

update snapshots
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: none

[Assembly v1] Phone (#488)
  src/components/phone/__tests__/__snapshots__/phone.test.js.snap
  src/components/phone/phone.js
Due: eslint, prettier --write

codemod changes
  src/components/feedback/feedback.js
Due: eslint, prettier --write

update snapshots
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/feedback/__tests__/__snapshots__/confirmation.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
Due: none

codemod changes
  src/components/on-this-page/examples/basic.js
  src/components/on-this-page/helpers.js
Due: eslint, prettier --write

update snapshot
  src/components/on-this-page/__tests__/__snapshots__/on-this-page.test.js.snap
Due: none

[Assembly v1] CardContainer (#493)
  CHANGELOG.md
  src/components/card-container/__tests__/__snapshots__/card-container.test.js.snap
  src/components/card-container/card-container.js
  src/components/card-container/examples/cols.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/example-index.js
  src/components/page-layout/page-layout.js
Due: eslint, prettier --write

Do not preserve es modules in test environment
  babel.config.js
Due: eslint, prettier --write

[Assembly v1] NavigationAccordion
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/navigation-accordion.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: eslint, prettier --write

[Assembly v1] Search
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/__tests__/results.js
  src/components/search/search-box.js
  src/components/search/search-result.js
Due: eslint, prettier --write

Clean up
  src/components/search/search-box.js
Due: eslint, prettier --write

[Assembly v1] OverviewHeader
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/overview-header.js
Due: eslint, prettier --write

Reduce changes
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/overview-header.js
Due: eslint, prettier --write

fix stacking behavior on small screens
  src/components/code-snippet-title/code-snippet-title.js
Due: eslint, prettier --write

Update src/components/feedback/feedback.js
  src/components/feedback/feedback.js
Due: eslint, prettier --write

update snapshots
  src/components/android-layout-code-block/__tests__/__snapshots__/android-layout-code-block.test.js.snap
  src/components/code-snippet-title/__tests__/__snapshots__/code-snippet-title.test.js.snap
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
Due: none
