Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

update snapshots
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
Due: none

[Assembly v1] Feedback (#496)
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/feedback/__tests__/__snapshots__/confirmation.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/feedback.js
Due: eslint, prettier --write

[Assembly v1] CodeSnippetTitle (#491)
  src/components/android-layout-code-block/__tests__/__snapshots__/android-layout-code-block.test.js.snap
  src/components/code-snippet-title/__tests__/__snapshots__/code-snippet-title.test.js.snap
  src/components/code-snippet-title/code-snippet-title.js
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
Due: eslint, prettier --write

Do not preserve es modules in test environment (#498)
  babel.config.js
Due: eslint, prettier --write

Handle NavigiationAccordion when there is no `activeItem` (#495)
  CHANGELOG.md
  src/components/navigation-accordion/__tests__/navigation-accordion.test.js
  src/components/navigation-accordion/navigation-accordion.js
Due: eslint, prettier --write

[Assembly v1] OverviewHeader (#501)
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/overview-header/overview-header.js
Due: eslint, prettier --write

[Assembly v1] Update mr-ui
  package-lock.json
  package.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

[Assembly v1] ProductMenu
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/product-menu/product-menu.js
Due: eslint, prettier --write

codemod changes
  src/components/numbered-code-snippet/numbered-code-snippet.js
  src/components/numbered-code-snippet/show-hide-lines.js
Due: eslint, prettier --write

increase line number contrast
  src/components/numbered-code-snippet/numbered-code-snippet.js
Due: eslint, prettier --write

increase contrast of hide code text
  src/components/numbered-code-snippet/show-hide-lines.js
Due: eslint, prettier --write

update snapshots
  src/components/numbered-code-snippet/__tests__/__snapshots__/numbered-code-snippet.test.js.snap
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
Due: none

[Assembly v1] OnThisPage (#497)
  src/components/on-this-page/__tests__/__snapshots__/on-this-page.test.js.snap
  src/components/on-this-page/examples/basic.js
  src/components/on-this-page/helpers.js
Due: eslint, prettier --write

adds `height` prop to `demo-iframe` component
  src/components/demo-iframe/demo-iframe.js
Due: eslint, prettier --write

updates changlog
  CHANGELOG.md
Due: prettier --write

codemod changes
  src/components/related-page/related-page.js
Due: eslint, prettier --write

update snapshots
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
Due: none

[Assembly v1] NavigationAccordion (#499)
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/navigation-accordion.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: eslint, prettier --write

[Assembly v1] ProductMenu (#503)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/product-menu/product-menu.js
Due: eslint, prettier --write

[Assembly v1] Update mr-ui@1.1.0 (#502)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

[Assembly v1] Search (#500)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/__tests__/results.js
  src/components/search/search-box.js
  src/components/search/search-result.js
Due: eslint, prettier --write

[Assembly v1] PageLayout
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/feedback/__tests__/__snapshots__/confirmation.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/feedback.js
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/navigation-accordion.js
  src/components/on-this-page/__tests__/__snapshots__/on-this-page.test.js.snap
  src/components/on-this-page/on-this-page.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/example-index.js
  src/components/page-layout/components/guide-group-index.js
  src/components/page-layout/page-layout.js
  src/css/docs-prose.css
Due: eslint, prettier --write

Update src/components/numbered-code-snippet/show-hide-lines.js
  src/components/numbered-code-snippet/show-hide-lines.js
Due: eslint, prettier --write

Make `color-text` cascade from PageLayout instead
  src/components/feedback/__tests__/__snapshots__/category-confusing.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
  src/components/feedback/__tests__/__snapshots__/confirmation.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/feedback/feedback.js
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/navigation-accordion.js
  src/components/on-this-page/__tests__/__snapshots__/on-this-page.test.js.snap
  src/components/on-this-page/on-this-page.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/sidebar.js
Due: eslint, prettier --write

Reduce changes
  src/css/docs-prose.css
Due: prettier --write

Add stroke to select, make size match input--s
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/example-index.js
Due: eslint, prettier --write

[Assembly v1] NumberedCodeSnippet (#504)
  src/components/numbered-code-snippet/__tests__/__snapshots__/numbered-code-snippet.test.js.snap
  src/components/numbered-code-snippet/numbered-code-snippet.js
  src/components/numbered-code-snippet/show-hide-lines.js
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
Due: eslint, prettier --write

Update package.json
  package.json
Due: prettier --write

Update navigation-accordion.test.js
  src/components/navigation-accordion/__tests__/navigation-accordion.test.js
Due: eslint, prettier --write

Reduce changes
  package-lock.json
Due: prettier --write

remove a11y colors
  src/components/related-page/related-page.js
Due: eslint, prettier --write

[Assembly v1] RelatedPage (#507)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/related-page/related-page.js
Due: eslint, prettier --write

codemod changes
  src/components/video/video.js
Due: eslint, prettier --write

update snapshots
  src/components/phone/__tests__/__snapshots__/phone.test.js.snap
  src/components/video/__tests__/__snapshots__/video.test.js.snap
Due: none

codemode changes
  docs/src/components/component-example.js
  docs/src/components/component-section.js
Due: eslint, prettier --write

Remove `color-text` from NavigationAccordion (allow the color to cascade from PageLayout)
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/navigation-accordion.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: ((((any of: *.js) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yml)
