Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

Upgrade mr-ui to 2.1.4
  package-lock.json
  package.json
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Update mr-ui to 2.1.4 (#552)
  package-lock.json
  package.json
  src/components/android-layout-code-block/__tests__/__snapshots__/android-layout-code-block.test.js.snap
  src/components/back-to-top-button/__tests__/__snapshots__/back-to-top-button.test.js.snap
  src/components/back-to-top-button/back-to-top-button.js
  src/components/breadcrumb/__tests__/__snapshots__/breadcrumb.test.js.snap
  src/components/browser/__tests__/__snapshots__/browser.test.js.snap
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/code-snippet-title/__tests__/__snapshots__/code-snippet-title.test.js.snap
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/code-toggle/__tests__/__snapshots__/code-toggle.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/demo-iframe/__tests__/__snapshots__/demo-iframe.test.js.snap
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/error-boundary/__tests__/__snapshots__/error-boundary.test.js.snap
  src/components/feedback/__tests__/__snapshots__/confirmation.test.js.snap
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/highlight/__tests__/__snapshots__/highlight.test.js.snap
  src/components/map-wrapper/__tests__/__snapshots__/map-wrapper.test.js.snap
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/numbered-code-snippet/__tests__/__snapshots__/numbered-code-snippet.test.js.snap
  src/components/on-this-page/__tests__/__snapshots__/on-this-page.test.js.snap
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/related-page/__tests__/__snapshots__/related-page.test.js.snap
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

5.1.11
  package-lock.json
  package.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

added script for auto update of docs repos
  scripts/update-dr-ui-all.sh
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

fix search modal appearing on page navigation
  src/components/search/search-box.js
  src/components/search/search-provider.js
Due: eslint, prettier --write

fix search modal appearing on page navigation (#553)
  src/components/search/search-box.js
  src/components/search/search-provider.js
Due: eslint, prettier --write

use 'order' to order GL JS examples
  src/helpers/batfish/__tests__/fixtures/data.json
  src/helpers/batfish/filters.js
Due: eslint, prettier --write

5.1.12
  package-lock.json
  package.json
Due: prettier --write

remove deprecated comment
  src/helpers/batfish/filters.js
Due: eslint, prettier --write

exclusivity of and
  src/helpers/batfish/filters.js
Due: eslint, prettier --write

fix return logic, reset data.json
  src/helpers/batfish/__tests__/fixtures/data.json
  src/helpers/batfish/filters.js
Due: eslint, prettier --write

fix CI 1
  src/helpers/batfish/filters.js
Due: eslint, prettier --write

include order in filters.test.js
  src/helpers/batfish/__tests__/filters.test.js
Due: eslint, prettier --write

Prepare v5.1.13
  CHANGELOG.md
Due: prettier --write

5.1.13
  package-lock.json
  package.json
Due: prettier --write

upgrade 5.1.12 (#554)
  package-lock.json
  package.json
  src/helpers/batfish/__tests__/filters.test.js
  src/helpers/batfish/filters.js
Due: eslint, prettier --write

bump mr-ui to 2.4.0, fix ariaLable console warning
  package-lock.json
  package.json
  src/components/back-to-top-button/__tests__/__snapshots__/back-to-top-button.test.js.snap
  src/components/back-to-top-button/back-to-top-button.js
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: eslint, prettier --write

fix cta layout on wide screens
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/signup-banner.js
Due: eslint, prettier --write

bump mr-ui to 2.4.0, fix ariaLable console warning (#555)
  package-lock.json
  package.json
  src/components/back-to-top-button/__tests__/__snapshots__/back-to-top-button.test.js.snap
  src/components/back-to-top-button/back-to-top-button.js
  src/components/card/__tests__/__snapshots__/card.test.js.snap
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
Due: eslint, prettier --write

Fix cta layout (#556)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/signup-banner.js
Due: eslint, prettier --write

prepare v5.1.14
  CHANGELOG.md
Due: prettier --write

5.1.14
  package-lock.json
  package.json
Due: prettier --write

update engines to node 18 and npm 9
  .circleci/config.yml
  .nvmrc
  README.md
  package-lock.json
  package.json
Due: prettier --write

css and layout tweaks for the CTA buttons
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/discord-cta.js
  src/components/page-layout/components/signup-banner.js
Due: eslint, prettier --write

css and layout tweaks for the CTA buttons (#558)
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/discord-cta.js
  src/components/page-layout/components/signup-banner.js
Due: eslint, prettier --write

Update package.json
  package.json
Due: prettier --write

update engines to node 18 and npm 9 (#557)
  .circleci/config.yml
  .nvmrc
  README.md
  package-lock.json
  package.json
Due: prettier --write

prepare v5.2.0
  CHANGELOG.md
Due: prettier --write

5.2.0
  package-lock.json
  package.json
Due: prettier --write

update dependencies
  .github/dependabot.yml
  babel.config.js
  babel.config.json
  package-lock.json
  package.json
  scripts/build-package.js
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/numbered-code-snippet/__tests__/__snapshots__/numbered-code-snippet.test.js.snap
  src/components/numbered-code-snippet/numbered-code-snippet.js
  src/components/on-this-page/on-this-page.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/search/search-box.js
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
  src/helpers/batfish/.eslintrc.json
Due: eslint, prettier --write

Update dependencies (#563)
  .github/dependabot.yml
  babel.config.js
  babel.config.json
  package-lock.json
  package.json
  scripts/build-package.js
  src/components/feedback/__tests__/__snapshots__/logged-in.test.js.snap
  src/components/numbered-code-snippet/__tests__/__snapshots__/numbered-code-snippet.test.js.snap
  src/components/numbered-code-snippet/numbered-code-snippet.js
  src/components/on-this-page/on-this-page.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/search/search-box.js
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
  src/helpers/batfish/.eslintrc.json
Due: eslint, prettier --write
