Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

[Assembly v1] PageLayout (#510)
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/navigation-accordion/navigation-accordion.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
  src/components/page-layout/components/example-index.js
  src/components/page-layout/components/guide-group-index.js
  src/components/page-layout/components/sidebar.js
  src/components/page-layout/page-layout.js
  src/css/docs-prose.css
Due: eslint, prettier --write

[Assembly v1] Video (#511)
  src/components/phone/__tests__/__snapshots__/phone.test.js.snap
  src/components/video/__tests__/__snapshots__/video.test.js.snap
  src/components/video/video.js
Due: eslint, prettier --write

fix required badge contrast
  docs/src/components/component-section.js
Due: eslint, prettier --write

darken links in overview header
  src/css/docs-prose.css
Due: prettier --write

remove overview header docs prose css
  src/css/docs-prose.css
Due: prettier --write

change header background color and text color
  docs/src/pages/components/index.md
Due: prettier --write

update @sentry/browser and @sentry/tracing
  package-lock.json
  package.json
Due: prettier --write

decrease traceSampleRate
  src/components/analytics-shell/analytics-shell.js
Due: eslint, prettier --write

Update snapshots
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/highlight/__tests__/__snapshots__/highlight.test.js.snap
  src/components/numbered-code-snippet/__tests__/__snapshots__/numbered-code-snippet.test.js.snap
Due: none

Move I like... category to bottom of list in Feedback
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/categories.js
Due: eslint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Add snapshot for groupIndexPage
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/__tests__/page-layout.test.js
Due: eslint, prettier --write

Use CardContainer/Card in GuideGroupIndex
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/guide-group-index.js
Due: eslint, prettier --write

Deconstruct params
  src/components/page-layout/components/guide-group-index.js
Due: eslint, prettier --write

Rebuild test case by simulating large screen - to display NavigationAccordion
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/__tests__/page-layout.test.js
Due: eslint, prettier --write

Fix accessibility issue with list so that it's properly nested
  src/components/navigation-accordion/navigation-accordion.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/__tests__/page-layout.test.js
Due: eslint, prettier --write

[Assembly v1] Update catalog site (#512)
  docs/src/components/component-example.js
  docs/src/components/component-section.js
  docs/src/pages/components/index.md
Due: eslint, prettier --write

Move "I like..." category to bottom in `Feedback` component (#518)
  CHANGELOG.md
  src/components/feedback/__tests__/__snapshots__/contact-support.test.js.snap
  src/components/feedback/categories.js
Due: eslint, prettier --write

update tracesSampleRate
  src/components/analytics-shell/analytics-shell.js
Due: eslint, prettier --write

update package lock
  package-lock.json
Due: prettier --write

fix peerDependencies
  package.json
Due: prettier --write

update tracesSampleRate in analytics shell test
  src/components/analytics-shell/__tests__/analytics-shell.test.js
Due: eslint, prettier --write

update mbx-assembly in devDependencies
  package.json
Due: prettier --write

update snapshots
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
Due: none

snapshots from main
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/contextless-ios-view-controller-toggle/__tests__/__snapshots__/contextless-ios-view-controller-toggle.test.js.snap
  src/components/download-button/__tests__/__snapshots__/download-button.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-like.test.js.snap
  src/components/feedback/__tests__/__snapshots__/category-problem.test.js.snap
Due: none

assembly and mr ui to match main
  package.json
Due: prettier --write

Decrease Sentry tracesSampleRate (#517)
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/analytics-shell/__tests__/analytics-shell.test.js
  src/components/analytics-shell/analytics-shell.js
Due: eslint, prettier --write

Fix package-lock.json
  package-lock.json
Due: prettier --write

Updates `GuideGroupIndex` in `PageLayout` to use `CardContainer` to display full width cards (#519)
  CHANGELOG.md
  src/components/navigation-accordion/navigation-accordion.js
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/__tests__/page-layout.test.js
  src/components/page-layout/components/guide-group-index.js
Due: eslint, prettier --write

5.0.0-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update class in make-table-scroll plugin
  src/plugins/make-table-scroll.js
Due: eslint, prettier --write

Update class in make-table-scroll plugin (#520)
  src/plugins/make-table-scroll.js
Due: eslint, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

5.0.0-beta.1
  package-lock.json
  package.json
Due: prettier --write
