Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

fix snapshot paths
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Add `hideFromNav` option
  src/components/page-layout/page-layout.js
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/navigation.test.js
  src/helpers/batfish/navigation.js
Due: eslint, prettier --write

Exclude batfish 404 page
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/navigation.js
Due: eslint, prettier --write

only set tag for h2
  docs/src/pages/split/marsupials/sections/kangaroos.md
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
  src/helpers/batfish/split-pages.js
Due: eslint, prettier --write

Clear the mobile sticky nav
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/content.js
Due: eslint, prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

Better handling of dynamic navTabs; fix ProductMenu homePage url
  src/components/page-layout/__tests__/__snapshots__/page-layout.test.js.snap
  src/components/page-layout/components/topbar.js
Due: eslint, prettier --write

Pass section tag to navigation
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/navigation.js
Due: eslint, prettier --write

Create guides
  docs/src/pages/guides/batfish-helpers.md
  docs/src/pages/guides/docs-starter-kit.md
  docs/src/pages/guides/index.md
  docs/src/pages/guides/page-layout.md
  docs/src/pages/guides/split-pages/index.js
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/intro.md
  docs/src/pages/guides/split-pages/sections/limitations.md
  docs/src/pages/split/marsupials/sections/kangaroos.md
  docs/src/pages/split/marsupials/sections/opposum.md
  docs/src/pages/split/marsupials/sections/tasmanian.md
  docs/src/pages/split/second/index.js
  docs/src/pages/split/second/sections/sub-one.md
  docs/src/pages/split/second/sections/sub-three.md
  docs/src/pages/split/second/sections/sub-two.md
  docs/src/pages/split/third/index.js
  docs/src/pages/split/third/sections/sub-one.md
  docs/src/pages/split/third/sections/sub-three.md
  docs/src/pages/split/third/sections/sub-two.md
  src/components/page-layout/layout.config.js
  src/components/page-layout/page-layout.js
Due: eslint, prettier --write

Document
  docs/src/pages/guides/docs-starter-kit.md
  docs/src/pages/guides/index.md
  docs/src/pages/guides/split-pages/sections/limitations.md
Due: prettier --write

:wrench: remove markdown from topic descriptions
  src/helpers/batfish/topics.js
Due: eslint, prettier --write

Revert ":wrench: remove markdown from topic descriptions"
  src/helpers/batfish/topics.js
Due: eslint, prettier --write

Do not allow Search to sync with the browser url
  src/components/search/search.js
Due: eslint, prettier --write

Add sortArr argument to batfish-helpers/topics; document
  docs/src/pages/batfish-helpers.md
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/topics.test.js
  src/helpers/batfish/topics.js
Due: eslint, prettier --write

Set ignore files in babelc config
  babel.config.js
  scripts/build-package.js
Due: eslint, prettier --write

Revert "Set ignore files in babelc config"
  babel.config.js
  scripts/build-package.js
Due: eslint, prettier --write

add hideCardDescription and hideCardLanguage frontMatter props
  src/components/page-layout/components/layouts/example/content.js
  src/components/page-layout/page-layout.js
Due: eslint, prettier --write

Handle `products`
  docs/src/pages/batfish-helpers.md
  docs/src/pages/examples/example-1.md
  docs/src/pages/examples/example-2.md
  docs/src/pages/examples/example-3.md
  docs/src/pages/examples/index.md
  docs/src/pages/index.md
  docs/src/pages/split/index.md
  docs/src/pages/split/marsupials/sections/kangaroos.md
  docs/src/pages/split/marsupials/sections/opposum.md
  docs/src/pages/split/marsupials/sections/tasmanian.md
  docs/src/pages/split/second/sections/sub-one.md
  docs/src/pages/split/second/sections/sub-three.md
  docs/src/pages/split/second/sections/sub-two.md
  docs/src/pages/split/third/sections/sub-one.md
  docs/src/pages/split/third/sections/sub-three.md
  docs/src/pages/split/third/sections/sub-two.md
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
  src/helpers/batfish/split-pages.js
Due: eslint, prettier --write

Update guides
  docs/src/pages/guides/batfish-helpers.md
  docs/src/pages/guides/index.md
  docs/src/pages/guides/split-pages/index.js
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/intro.md
  docs/src/pages/guides/split-pages/sections/limitations.md
  docs/src/pages/split/marsupials/sections/kangaroos.md
  docs/src/pages/split/marsupials/sections/opposum.md
  docs/src/pages/split/marsupials/sections/tasmanian.md
  docs/src/pages/split/second/index.js
  docs/src/pages/split/second/sections/sub-one.md
  docs/src/pages/split/second/sections/sub-three.md
  docs/src/pages/split/second/sections/sub-two.md
  docs/src/pages/split/third/index.js
  docs/src/pages/split/third/sections/sub-one.md
  docs/src/pages/split/third/sections/sub-three.md
  docs/src/pages/split/third/sections/sub-two.md
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

:wrench: Rebuild fixture data from catalog site
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Rebuild fixtures/snapshots
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Update fixtures/snapshots
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Add guides section to catalog
  docs/src/pages/guides/batfish-helpers.md
  docs/src/pages/guides/index.md
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Documentation
  docs/src/pages/guides/batfish-helpers.md
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/intro.md
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Add tag debugger page
  docs/src/pages/guides/split-pages/index.js
  docs/src/pages/guides/split-pages/sections/tag-debugger.md
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/split-pages.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

Update fixtures/snapshots
  docs/batfish.config.js
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/topics.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
  src/helpers/batfish/topics.js
Due: eslint, prettier --write

documentation!
  docs/src/components/frontmatter.js
  docs/src/pages/guides/page-layout.md
  src/components/page-layout/layout.config.js
  src/components/page-layout/page-layout.js
  src/helpers/batfish/__tests__/fixtures/data.json
Due: eslint, prettier --write

Update navigation.test.js.snap
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
Due: none

Update fixtures/snapshots
  src/helpers/batfish/__tests__/__snapshots__/navigation.test.js.snap
  src/helpers/batfish/__tests__/fixtures/data.json
Due: prettier --write

Add header-image to test-cases-app
  src/test-cases-app/header-image-480.png
  src/test-cases-app/header-image-480.webp
  src/test-cases-app/header-image-960.png
  src/test-cases-app/header-image-960.webp
Due: none

Update batfish.config.js to sync data to fixtures
  docs/batfish.config.js
  src/helpers/batfish/__tests__/fixtures/data.json
  src/helpers/batfish/topics.js
Due: eslint, prettier --write

Exclude helpers tests files from the package; update babel
  package-lock.json
  package.json
  scripts/build-package.js
Due: eslint, prettier --write

Reorder tests
  .travis.yml
Due: prettier --write

Reduce changes
  src/components/feedback/__tests__/feedback-test-cases.js
Due: eslint, prettier --write

Apply suggestions from code review
  docs/src/pages/guides/batfish-helpers.md
  docs/src/pages/guides/split-pages/sections/how-to.md
  docs/src/pages/guides/split-pages/sections/intro.md
Due: prettier --write
