Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

rm unused class
  src/css/docs-prose.css
Due: prettier --write

set placeholder, inputId as defaultProps
  src/components/search/search.js
Due: eslint, prettier --write

[search] Introduce search modal (#133)
  CHANGELOG.md
  package-lock.json
  package.json
  src/.eslintrc.json
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/__tests__/search-test-cases.js
  src/components/search/__tests__/search.test.js
  src/components/search/search-box.js
  src/components/search/search-modal.js
  src/components/search/search.js
Due: eslint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update search.test.js.snap
  src/components/search/__tests__/__snapshots__/search.test.js.snap
Due: none

[PageLayout/TopbarSticker] increase zIndex (#134)
  CHANGELOG.md
  src/components/page-layout/page-layout.js
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/topbar-sticker/topbar-sticker.js
Due: eslint, prettier --write

Prepare 0.14.0
  CHANGELOG.md
Due: none

0.14.0
  package-lock.json
  package.json
Due: none

borrows from our friend mr-ui
  package-lock.json
  package.json
  scripts/build-docs-data.js
  src/docs/.eslintrc.json
  src/docs/app.js
  src/docs/components/component-example.js
  src/docs/components/component-section.js
  src/docs/components/sidebar.js
  src/docs/data/components.js
  src/docs/docs-underreact.config.js
  src/docs/html.js
  src/docs/index.js
  src/docs/pages/index.js
  src/docs/prism-theme.css
  src/docs/sorted-components.js
Due: eslint, prettier --write

start adding examples
  src/components/back-to-top-button/examples/basic.js
  src/components/beta-flag/examples/basic.js
  src/components/book-image/examples/basic.js
  src/components/booklet-image/examples/basic.js
  src/components/card-container/examples/basic.js
  src/components/card/examples/basic.js
  src/components/code-toggle/examples/basic.js
  src/components/contact-image/examples/basic.js
  src/components/troubleshoot-image/examples/basic.js
  src/components/warning-image/examples/basic.js
  src/docs/data/components.js
  src/docs/html.js
  src/docs/pages/index.js
Due: eslint, prettier --write

fix linting errors
  .eslintignore
  package-lock.json
  package.json
Due: none

add filter
  package-lock.json
  package.json
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/__tests__/search-test-cases.js
  src/components/search/__tests__/search.test.js
  src/components/search/search-box.js
  src/components/search/search.js
Due: eslint, prettier --write

use `show` to make sure all options come through for `site` value
  src/components/search/__tests__/search-test-cases.js
  src/components/search/search-box.js
  src/components/search/search.js
Due: eslint, prettier --write

increase modal zindex to prevent collision with topbar sticker
  src/components/search/search-modal.js
Due: eslint, prettier --write

more examples
  src/components/examples-page/examples/basic.js
  src/components/level-indicator/examples/advanced.js
  src/components/level-indicator/examples/beginner.js
  src/components/level-indicator/examples/interm.js
  src/components/level-indicator/level-indicator.js
  src/components/navigation-accordion/examples/basic.js
  src/components/navigation-dropdown/examples/basic.js
  src/components/note/examples/basic.js
  src/components/overview-header/examples/basic.js
  src/docs/data/components.js
Due: eslint, prettier --write

more examples
  src/components/product-menu/examples/basic.js
  src/components/product-menu/examples/beta.js
  src/components/search/examples/basic.js
  src/components/sectioned-navigation/examples/basic.js
  src/components/toggleable-code-block/examples/basic.js
  src/components/topbar-sticker/examples/basic.js
  src/docs/data/components.js
Due: eslint, prettier --write

styles
  src/docs/components/component-section.js
  src/docs/components/sidebar.js
Due: eslint, prettier --write

update example
  src/components/product-menu/examples/basic.js
  src/components/product-menu/examples/beta.js
Due: eslint, prettier --write

increase modal zindex to prevent collision with topbar sticker (#139)
  CHANGELOG.md
  src/components/search/search-modal.js
Due: eslint, prettier --write

styles
  src/docs/components/component-example.js
  src/docs/components/sidebar.js
Due: eslint, prettier --write

[search] add ability to filter results (#138)
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/search/__tests__/__snapshots__/search.test.js.snap
  src/components/search/__tests__/search-test-cases.js
  src/components/search/__tests__/search.test.js
  src/components/search/search-box.js
  src/components/search/search.js
Due: eslint, prettier --write

adds analytics
  src/.eslintrc.json
  src/components/search/search-box.js
Due: eslint, prettier --write

adds web-analytics to test analytics
  package-lock.json
  package.json
  src/test-cases-app/test-cases-app.js
Due: eslint, prettier --write

save as optionalDependency instead? :pray: travis
  package-lock.json
  package.json
Due: none

ok eslint your turn
  src/test-cases-app/test-cases-app.js
Due: eslint, prettier --write

drafts analytics
  src/components/feedback/__tests__/feedback-test-cases.js
  src/components/feedback/feedback.js
Due: eslint, prettier --write

comments
  src/components/feedback/feedback.js
Due: eslint, prettier --write

get options for field
  scripts/build-docs-data.js
  src/docs/components/component-section.js
  src/docs/data/components.js
Due: eslint, prettier --write

Updates
  index.html
  underreact-assets/css/main-7890c583.chunk.css
  underreact-assets/css/main-7890c583.chunk.css.map
  underreact-assets/js/main-44d80fdfc5.chunk.js
  underreact-assets/js/main-44d80fdfc5.chunk.js.map
  underreact-assets/js/polyfill-707e71ed08.chunk.js
  underreact-assets/js/polyfill-707e71ed08.chunk.js.map
  underreact-assets/js/vendor-40b4bc9e92.chunk.js
  underreact-assets/js/vendor-40b4bc9e92.chunk.js.map
Due: eslint, prettier --write

fix error; add dep
  package-lock.json
  package.json
  scripts/build-docs-data.js
Due: eslint, prettier --write

add favicon
  src/docs/html.js
Due: eslint, prettier --write

Updates
  index.html
Due: none

Update README.md
  README.md
Due: none

styles
  src/docs/app.js
  src/docs/components/sidebar.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.css)
