Repository mapbox/dr-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write", "git add"],
  "*.css": ["prettier --write", "git add"]
}

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Create themes component to house shared themes for Tag and Note (#217)
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/navigation-accordion/__tests__/__snapshots__/navigation-accordion.test.js.snap
  src/components/note/__tests__/__snapshots__/note.test.js.snap
  src/components/note/note.js
  src/components/overview-header/__tests__/__snapshots__/overview-header.test.js.snap
  src/components/product-menu/__tests__/__snapshots__/product-menu.test.js.snap
  src/components/tag/__tests__/__snapshots__/tag.test.js.snap
  src/components/tag/tag.js
  src/components/themes/__tests__/__snapshots__/themes.test.js.snap
  src/components/themes/__tests__/themes-test-cases.js
  src/components/themes/__tests__/themes.test.js
  src/components/themes/index.js
  src/components/themes/themes.js
Due: eslint, prettier --write

create highlight/theme-css
  package.json
  scripts/create-theme-css.js
  src/components/android-layout-code-block/android-layout-code-block.js
  src/components/highlight/__tests__/highlight-test-cases.js
  src/components/highlight/theme-css.js
  src/components/numbered-code-snippet/__tests__/numbered-code-snippet-test-cases.js
  src/components/toggleable-code-block/toggleable-code-block.js
Due: eslint, prettier --write

create CodeSnippet
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/code-snippet/__tests__/code-snippet-test-cases.js
  src/components/code-snippet/__tests__/code-snippet.test.js
  src/components/code-snippet/code-snippet.js
  src/components/code-snippet/index.js
  src/components/edit/edit.js
Due: eslint, prettier --write

open edit buttons in a new tab
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/edit/__tests__/__snapshots__/edit.test.js.snap
  src/components/edit/edit.js
Due: eslint, prettier --write

create Form component to keep settings consistent across platforms
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/edit/__tests__/__snapshots__/edit.test.js.snap
  src/components/edit/edit.js
Due: eslint, prettier --write

add comments
  src/components/edit/edit.js
Due: eslint, prettier --write

add missing indices
  src/components/example-image/index.js
  src/components/glossary-image/index.js
  src/components/related-page/index.js
Due: eslint, prettier --write

make cssRegex caputure more than one set of `style` tags
  src/components/edit/__tests__/helpers.test.js
  src/components/edit/helpers.js
Due: eslint, prettier --write

add tracking
  src/components/code-snippet/code-snippet.js
Due: eslint, prettier --write

update dependencies
  package-lock.json
  package.json
Due: none

use https
  src/components/edit/edit.js
Due: eslint, prettier --write

update snapshots
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/edit/__tests__/__snapshots__/edit.test.js.snap
Due: none

add test case
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/code-snippet/__tests__/code-snippet-test-cases.js
  src/components/code-snippet/__tests__/code-snippet.test.js
Due: eslint, prettier --write

Create `Edit` and `CodeSnippet` components (#197)
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/code-snippet/__tests__/code-snippet-test-cases.js
  src/components/code-snippet/__tests__/code-snippet.test.js
  src/components/code-snippet/code-snippet.js
  src/components/code-snippet/index.js
  src/components/edit/__tests__/__snapshots__/edit.test.js.snap
  src/components/edit/__tests__/edit-test-cases.js
  src/components/edit/__tests__/edit.test.js
  src/components/edit/__tests__/helpers.test.js
  src/components/edit/edit.js
  src/components/edit/helpers.js
  src/components/edit/index.js
Due: eslint, prettier --write

add missing indices (#219)
  src/components/example-image/index.js
  src/components/glossary-image/index.js
  src/components/related-page/index.js
Due: eslint, prettier --write

update package
  package-lock.json
  package.json
Due: none

bug fix
  package-lock.json
  package.json
  scripts/build-docs-data.js
  src/components/beta-flag/examples/basic.js
  src/components/code-snippet/examples/basic.js
  src/docs/components/component-section.js
  src/docs/data/components.js
Due: eslint, prettier --write

Update basic.js
  src/components/note/examples/basic.js
Due: eslint, prettier --write

Update components.js
  src/docs/data/components.js
Due: eslint, prettier --write

update props
  src/components/book-image/examples/basic.js
  src/components/booklet-image/examples/basic.js
  src/components/code-toggle/examples/basic.js
  src/components/contact-image/examples/basic.js
  src/components/toggleable-code-block/examples/basic.js
  src/components/troubleshoot-image/examples/basic.js
  src/docs/components/component-section.js
Due: eslint, prettier --write

more examples
  src/components/browser/examples/basic.js
  src/components/code-snippet-title/examples/basic.js
  src/docs/data/components.js
Due: eslint, prettier --write

fix tests
  package-lock.json
  src/docs/components/component-example.js
  src/docs/data/components.js
Due: eslint, prettier --write

update prismjs
  package-lock.json
  package.json
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/highlight/__tests__/__snapshots__/highlight.test.js.snap
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
Due: none

Update code-snippet.test.js.snap
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
Due: none

bump sentry
  package-lock.json
  package.json
Due: none

Update dependencies (#220)
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/code-snippet/__tests__/__snapshots__/code-snippet.test.js.snap
  src/components/contextless-android-activity-toggle/__tests__/__snapshots__/contextless-android-activity-toggle.test.js.snap
  src/components/highlight/__tests__/__snapshots__/highlight.test.js.snap
  src/components/toggleable-code-block/__tests__/__snapshots__/toggleable-code-block.test.js.snap
Due: none

remove cursor pointer from h2 and h3
  src/css/docs-prose.css
Due: prettier --write

update changelog
  CHANGELOG.md
Due: none

bump search-ui
  package-lock.json
  package.json
Due: none

Remove cursor:pointer from docs-prose h2's and h3's (#222)
  CHANGELOG.md
  src/css/docs-prose.css
Due: prettier --write

Prepare 0.25.0
  CHANGELOG.md
Due: none

0.25.0
  package-lock.json
  package.json
Due: none

Prepare 0.25.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
